<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xm.jwxt.mapper.arrangeCourse.custom.ApTaskArrangeCourseCustomMapper" >
    <resultMap id="BaseResultMap" type="cn.xm.jwxt.bean.arrangeCourse.custom.ApTaskArrangeCourseCustom" >
        <id column="arrange_course_id" property="arrangeCourseId" jdbcType="VARCHAR" />
        <result column="arrange_task_id" property="arrangeTaskId" jdbcType="VARCHAR" />
        <result column="course_name" property="courseName" jdbcType="VARCHAR" />
        <result column="course_code" property="courseCode" jdbcType="VARCHAR" />
        <result column="major_name" property="majorName" jdbcType="VARCHAR" />
        <result column="class_name" property="className" jdbcType="VARCHAR" />
        <result column="major_students_number" property="majorStudentsNumber" jdbcType="INTEGER" />
        <result column="total_period" property="totalPeriod" jdbcType="INTEGER" />
        <result column="campus_code" property="campusCode" jdbcType="CHAR" />
        <result column="is_use_multimedia" property="isUseMultimedia" jdbcType="CHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>

    <!--增加教师名称字段映射-->
    <resultMap id="addTeacheNamesMap" type="cn.xm.jwxt.bean.arrangeCourse.custom.ApTaskArrangeCourseCustom" extends="BaseResultMap">
        <result column="teacher_names" property="teacherNames" jdbcType="VARCHAR" />
    </resultMap>

    <!--增加教师信息集合映射-->
    <resultMap id="addTeacherListMap" type="cn.xm.jwxt.bean.arrangeCourse.custom.ApTaskArrangeCourseCustom" extends="BaseResultMap">
        <!--对应的教师集合-->
        <collection property="teachers" ofType="cn.xm.jwxt.bean.arrangeCourse.custom.ApTeacherCourseCustom">
            <id column="teacher_course_id" property="teacherCourseId"></id>
            <result column="teacher_name" property="teacherName"></result>
            <result column="teacher_id" property="teacherId"></result>
            <result column="teacher_number" property="teacherNumber"></result>
            <result column="academic_year" property="academicYear" jdbcType="VARCHAR" />
            <result column="term" property="term" jdbcType="VARCHAR" />
            <result column="class_names" property="classNames"></result>
            <result column="class_size" property="classSize"></result>
        </collection>
    </resultMap>

    <!--增加学年学期字段映射-->
    <resultMap id="addYearTermMap" type="cn.xm.jwxt.bean.arrangeCourse.custom.ApTaskArrangeCourseCustom" extends="BaseResultMap">
        <result column="academic_year" property="academicYear" jdbcType="VARCHAR" />
        <result column="term" property="term" jdbcType="VARCHAR" />
    </resultMap>

    <!--增加教师名称,教师编号字段映射-->
    <resultMap id="addTeacheNameAndNumberMap" type="cn.xm.jwxt.bean.arrangeCourse.custom.ApTaskArrangeCourseCustom" extends="BaseResultMap">
        <result column="teacher_name" property="teacherName" jdbcType="VARCHAR" />
        <result column="teacher_number" property="teacherNumber" jdbcType="VARCHAR" />
    </resultMap>
    <!--批量插入排课任务分配课程信息-->
    <insert id="saveTaskArrangeCourseInfoList" parameterType="java.util.List">
        insert into ap_task_arrange_course (arrange_course_id, arrange_task_id, course_name,
          course_code, major_name, class_name,
          major_students_number, total_period, campus_code,
          is_use_multimedia, remark)
        values
          <foreach collection="list" item="courseInfo" separator=",">
              (#{courseInfo.arrangeCourseId,jdbcType=VARCHAR}, #{courseInfo.arrangeTaskId,jdbcType=VARCHAR}, #{courseInfo.courseName,jdbcType=VARCHAR},
              #{courseInfo.courseCode,jdbcType=VARCHAR}, #{courseInfo.majorName,jdbcType=VARCHAR}, #{courseInfo.className,jdbcType=VARCHAR},
              #{courseInfo.majorStudentsNumber,jdbcType=INTEGER}, #{courseInfo.totalPeriod,jdbcType=INTEGER}, #{courseInfo.campusCode,jdbcType=CHAR},
              #{courseInfo.isUseMultimedia,jdbcType=CHAR}, #{courseInfo.remark,jdbcType=VARCHAR})
          </foreach>
    </insert>

    <!--根据排课任务ID查询对应的教师课程信息-->
    <select id="findTaskArrangeCourseAndTeacherListByArrangeId" parameterType="String" resultMap="addTeacheNamesMap">
        SELECT
            ac.*, (
                SELECT
                    GROUP_CONCAT(tc.teacher_name)
                FROM
                    ap_teacher_course tc
                WHERE
                    ac.arrange_course_id = tc.arrange_course_id
            ) teacher_names
        FROM
            ap_task_arrange_course ac
        WHERE
            ac.arrange_task_id = #{value}
    </select>

    <!--根据安排课程ID查询查询每一门课程对应的教师课程信息-->
    <select id="getTaskArrangeCourseAndTeacherClassInfo" parameterType="String" resultMap="addTeacherListMap">
        SELECT
            ac.*, tc.teacher_name,tc.teacher_id,tc.teacher_number,tc.academic_year,tc.term,
            GROUP_CONCAT(ct.class_name ORDER BY ct.class_name) class_names,
            SUM(ct.class_size) class_size
        FROM
            ap_task_arrange_course ac,
            ap_teacher_course tc,
            ap_class_teacher ct
        WHERE
            ac.arrange_course_id = #{value}
        AND
            ac.arrange_course_id = tc.arrange_course_id
        AND
            tc.teacher_course_id = ct.teacher_course_id
        GROUP BY teacher_name
    </select>

    <!--根据安排课程ID查询查询每一门课程的信息包括学年和学期-->
    <select id="getTaskArrangeCourseAndYearTermInfo" parameterType="String" resultMap="addYearTermMap">
        SELECT
            ac.*, (
                SELECT
                    academic_year
                FROM
                    `ap_arrange_course_task`
                WHERE
                    arrange_task_id = ac.arrange_task_id
            ) academic_year,
            (SELECT term FROM `ap_arrange_course_task` WHERE arrange_task_id = ac.arrange_task_id) term
        FROM
            ap_task_arrange_course ac
        WHERE
            ac.arrange_course_id = #{value}
    </select>

    <!--根据排课任务ID和学年学期查询历史排课记录-->
    <select id="findHistoryArrangeCourseInfoByCondition" parameterType="cn.xm.jwxt.bean.arrangeCourse.custom.HistoryArrangeCourseQueryVo" resultMap="addTeacheNameAndNumberMap">
        <bind name="academicYears" value="academicYear+'%'"></bind>
        SELECT
            *
        FROM
            (
                SELECT
                    tac.*, (
                        SELECT
                            teacher_number
                        FROM
                            ap_teacher_course tc
                        WHERE
                            academic_year LIKE #{academicYears}
                        AND term = #{term}
                        AND tc.course_code = tac.course_code
                        ORDER BY
                            CONVERT (teacher_name USING gbk)
                        LIMIT 1
                    ) teacher_number,
                    (
                        SELECT
                            teacher_name
                        FROM
                            ap_teacher_course tc
                        WHERE
                            academic_year LIKE #{academicYears}
                        AND term = #{term}
                        AND tc.course_code = tac.course_code
                        ORDER BY
                            CONVERT (teacher_name USING gbk)
                        LIMIT 1
                    ) teacher_name
                FROM
                    ap_task_arrange_course tac
                WHERE
                    tac.arrange_task_id = #{arrangeTaskId}
            ) temp
        WHERE
            temp.teacher_number IS NOT NULL
        ORDER BY CONVERT(course_name USING gbk)
    </select>
</mapper>