<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xm.jwxt.mapper.arrangeCourse.custom.ApTaskNoticeDetailInfoCustomMapper" >
    <resultMap id="BaseResultMap" type="cn.xm.jwxt.bean.arrangeCourse.ApTaskNoticeDetailInfo" >
        <id column="notice_detail_id" property="noticeDetailId" jdbcType="INTEGER" />
        <result column="notice_book_id" property="noticeBookId" jdbcType="VARCHAR" />
        <result column="datail_sort" property="datailSort" jdbcType="VARCHAR" />
        <result column="course_code" property="courseCode" jdbcType="VARCHAR" />
        <result column="course_name" property="courseName" jdbcType="VARCHAR" />
        <result column="teach_plan_num" property="teachPlanNum" jdbcType="VARCHAR" />
        <result column="major_name" property="majorName" jdbcType="VARCHAR" />
        <result column="campus_code" property="campusCode" jdbcType="VARCHAR" />
        <result column="class_name" property="className" jdbcType="VARCHAR" />
        <result column="class_student_num" property="classStudentNum" jdbcType="INTEGER" />
        <result column="grade" property="grade" jdbcType="VARCHAR" />
        <result column="major_students_number" property="majorStudentsNumber" jdbcType="INTEGER" />
        <result column="test_method" property="testMethod" jdbcType="VARCHAR" />
        <result column="week_period" property="weekPeriod" jdbcType="VARCHAR" />
        <result column="total_period" property="totalPeriod" jdbcType="VARCHAR" />
        <result column="start_stop_week" property="startStopWeek" jdbcType="VARCHAR" />
        <result column="contact_time" property="contactTime" jdbcType="VARCHAR" />
        <result column="experimental_time" property="experimentalTime" jdbcType="VARCHAR" />
        <result column="course_character" property="courseCharacter" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>
    <!--批量插入通知书明细信息-->
    <insert id="saveTaskNoticeDetailInfoList" parameterType="java.util.List">
        insert into ap_task_notice_detail_info (notice_book_id, datail_sort,
          course_code, course_name, teach_plan_num,
          major_name, campus_code, class_name,
          class_student_num, grade, major_students_number,
          test_method, week_period, total_period,
          start_stop_week, contact_time, experimental_time,
          course_character, remark)
        values
        <foreach collection="list" item="detailInfo" separator=",">
          (#{detailInfo.noticeBookId,jdbcType=VARCHAR}, #{detailInfo.datailSort,jdbcType=VARCHAR},
          #{detailInfo.courseCode,jdbcType=VARCHAR}, #{detailInfo.courseName,jdbcType=VARCHAR}, #{detailInfo.teachPlanNum,jdbcType=VARCHAR},
          #{detailInfo.majorName,jdbcType=VARCHAR}, #{detailInfo.campusCode,jdbcType=VARCHAR}, #{detailInfo.className,jdbcType=VARCHAR},
          #{detailInfo.classStudentNum,jdbcType=INTEGER}, #{detailInfo.grade,jdbcType=VARCHAR}, #{detailInfo.majorStudentsNumber,jdbcType=INTEGER},
          #{detailInfo.testMethod,jdbcType=VARCHAR}, #{detailInfo.weekPeriod,jdbcType=VARCHAR}, #{detailInfo.totalPeriod,jdbcType=VARCHAR},
          #{detailInfo.startStopWeek,jdbcType=VARCHAR}, #{detailInfo.contactTime,jdbcType=VARCHAR}, #{detailInfo.experimentalTime,jdbcType=VARCHAR},
          #{detailInfo.courseCharacter,jdbcType=VARCHAR}, #{detailInfo.remark,jdbcType=VARCHAR})
        </foreach>
    </insert>
</mapper>