<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xm.jwxt.mapper.graduateDesign.custom.GradesigncheckgroupCustomMapper" >

    <resultMap type="cn.xm.jwxt.bean.graduateDesign.Gradesigncheckgroup" id="oneGradesigncheckgroupResultMap" autoMapping="true">
        <id property="groupid" column="groupid" />

        <collection property="checkgrouppersonList" column="gropersonid"
                    ofType="cn.xm.jwxt.bean.graduateDesign.Checkgroupperson">
            <id column="gropersonid" property="gropersonid"/>
        </collection>
    </resultMap>

    <resultMap type="cn.xm.jwxt.bean.graduateDesign.Gradesigncheckgroup" id="GradesigncheckgroupListResultMap" autoMapping="true">
        <id property="groupid" column="groupid" />

        <collection property="checkgrouppersonList" column="gropersonid"
                    ofType="cn.xm.jwxt.bean.graduateDesign.Checkgroupperson"
                    select="cn.xm.jwxt.mapper.graduateDesign.CheckgrouppersonMapper.selectByPrimaryKey">
            <id column="gropersonid" property="gropersonid"/>
        </collection>

    </resultMap>


    <select id="selectOneGradesigncheckgroup" resultMap="oneGradesigncheckgroupResultMap">
        SELECT
        g.groupId,g.groupName,g.groupType,g.replyAddress,g.remark,
        c.groPersonID,c.teacherID,c.teachername,c.groupid,c.groupRole,c.remark
        FROM
        graDesignCheckGroup g,checkGroupPerson c
        WHERE
        g.groupId = c.groupId
        AND
        g.groupId = #{groupId}
    </select>

    <select id="selectGradesigncheckgroupList" resultMap="GradesigncheckgroupListResultMap">
        SELECT
        g.groupId,g.groupName,g.groupType,g.replyAddress,g.remark,
        c.groPersonID,c.teacherID,c.teachername,c.groupid,c.groupRole,c.remark
        FROM
        graDesignCheckGroup g,checkGroupPerson c
        <where>
            <if test="1==1">
                g.groupId = c.groupId
            </if>
            <if test="endtime != null">
                and g.groupname like CONCAT('%', #{groupname}, '%')
            </if>
            <if test="starttime != null">
                and g.grouptype like CONCAT('%', #{grouptype}, '%')
            </if>
            <if test="arrangeperson != null">
                and g.replyaddress like CONCAT('%', #{replyaddress}, '%')
            </if>
            <if test="arrangetime != null">
                and g.remark like CONCAT('%', #{remark}, '%')
            </if>
        </where>
        <if test="page != null and limit != null">
            limit #{page},#{limit}
        </if>

    </select>

    <select id="selectOneGradesigncheckgroup2" resultType="cn.xm.jwxt.bean.graduateDesign.TTeacherInfoVo">
        SELECT
        gdcg.groupid,gdcg.groupname,gdcg.replyaddress,
        ccbi.cenCheckInfoid,
        ccbi.arrangetime as arrangetime,
        fp.pleaid,
        fp.arrangetime as replytime
        FROM graDesignCheckGroup gdcg
        LEFT JOIN cenCheckArrangeInfo ccai ON gdcg.groupid=ccai.groupid
        LEFT JOIN cenCheckBaseInfo ccbi ON ccai.cenCheckInfoid=ccbi.cenCheckInfoid
        LEFT JOIN pleaArrangeInfo pai ON pai.groupid = gdcg.groupid
        LEFT JOIN finallyPleaInfo fp ON fp.pleaid = pai.pleaid
        WHERE
        gdcg.groupid=#{groupId}
    </select>

    <!--查询互审分配前的表-->
    <select id="selectGradesigncheckgroupList2" resultType="cn.xm.jwxt.bean.graduateDesign.GradesigncheckgroupVo">
        SELECT
        g.groupId,g.groupName,
        GROUP_CONCAT(c.teacherid) AS teacheridSum,
        GROUP_CONCAT(c.teachername) AS teachernameSum
        FROM
        graDesignCheckGroup g,checkGroupPerson c
        WHERE
        g.groupid = c.groupid
        <if test="page != null and limit != null">
            limit #{page},#{limit}
        </if>
        GROUP BY g.groupid
    </select>
</mapper>