<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xm.jwxt.mapper.graduateDesign.TeachertitlecheckinfoMapper" >
  <resultMap id="BaseResultMap" type="cn.xm.jwxt.bean.graduateDesign.TeachertitleFirstcheckinfo" >
    <id column="checkID" property="checkid" jdbcType="VARCHAR" />
    <result column="teatherTitleID" property="teathertitleid" jdbcType="VARCHAR" />
    <result column="checkTime" property="checktime" jdbcType="DATE" />
    <result column="checkPerson" property="checkperson" jdbcType="VARCHAR" />
    <result column="checkResult" property="checkresult" jdbcType="VARCHAR" />
    <result column="checkDesc" property="checkdesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    checkID, teatherTitleID, checkTime, checkPerson, checkResult, checkDesc
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.xm.jwxt.bean.graduateDesign.TeachertitlecheckinfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from teachertitleFirstcheckinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from teachertitleFirstcheckinfo
    where checkID = #{checkid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from teachertitleFirstcheckinfo
    where checkID = #{checkid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.xm.jwxt.bean.graduateDesign.TeachertitlecheckinfoExample" >
    delete from teachertitleFirstcheckinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.xm.jwxt.bean.graduateDesign.TeachertitleFirstcheckinfo" >
    insert into teachertitleFirstcheckinfo (checkID, teatherTitleID, checkTime,
      checkPerson, checkResult, checkDesc
      )
    values (#{checkid,jdbcType=VARCHAR}, #{teathertitleid,jdbcType=VARCHAR}, #{checktime,jdbcType=DATE}, 
      #{checkperson,jdbcType=VARCHAR}, #{checkresult,jdbcType=VARCHAR}, #{checkdesc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.xm.jwxt.bean.graduateDesign.TeachertitleFirstcheckinfo" >
    insert into teachertitleFirstcheckinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="checkid != null" >
        checkID,
      </if>
      <if test="teathertitleid != null" >
        teatherTitleID,
      </if>
      <if test="checktime != null" >
        checkTime,
      </if>
      <if test="checkperson != null" >
        checkPerson,
      </if>
      <if test="checkresult != null" >
        checkResult,
      </if>
      <if test="checkdesc != null" >
        checkDesc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="checkid != null" >
        #{checkid,jdbcType=VARCHAR},
      </if>
      <if test="teathertitleid != null" >
        #{teathertitleid,jdbcType=VARCHAR},
      </if>
      <if test="checktime != null" >
        #{checktime,jdbcType=DATE},
      </if>
      <if test="checkperson != null" >
        #{checkperson,jdbcType=VARCHAR},
      </if>
      <if test="checkresult != null" >
        #{checkresult,jdbcType=VARCHAR},
      </if>
      <if test="checkdesc != null" >
        #{checkdesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.xm.jwxt.bean.graduateDesign.TeachertitlecheckinfoExample" resultType="java.lang.Integer" >
    select count(*) from teachertitleFirstcheckinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update teachertitleFirstcheckinfo
    <set >
      <if test="record.checkid != null" >
        checkID = #{record.checkid,jdbcType=VARCHAR},
      </if>
      <if test="record.teathertitleid != null" >
        teatherTitleID = #{record.teathertitleid,jdbcType=VARCHAR},
      </if>
      <if test="record.checktime != null" >
        checkTime = #{record.checktime,jdbcType=DATE},
      </if>
      <if test="record.checkperson != null" >
        checkPerson = #{record.checkperson,jdbcType=VARCHAR},
      </if>
      <if test="record.checkresult != null" >
        checkResult = #{record.checkresult,jdbcType=VARCHAR},
      </if>
      <if test="record.checkdesc != null" >
        checkDesc = #{record.checkdesc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update teachertitleFirstcheckinfo
    set checkID = #{record.checkid,jdbcType=VARCHAR},
      teatherTitleID = #{record.teathertitleid,jdbcType=VARCHAR},
      checkTime = #{record.checktime,jdbcType=DATE},
      checkPerson = #{record.checkperson,jdbcType=VARCHAR},
      checkResult = #{record.checkresult,jdbcType=VARCHAR},
      checkDesc = #{record.checkdesc,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.xm.jwxt.bean.graduateDesign.TeachertitleFirstcheckinfo" >
    update teachertitleFirstcheckinfo
    <set >
      <if test="teathertitleid != null" >
        teatherTitleID = #{teathertitleid,jdbcType=VARCHAR},
      </if>
      <if test="checktime != null" >
        checkTime = #{checktime,jdbcType=DATE},
      </if>
      <if test="checkperson != null" >
        checkPerson = #{checkperson,jdbcType=VARCHAR},
      </if>
      <if test="checkresult != null" >
        checkResult = #{checkresult,jdbcType=VARCHAR},
      </if>
      <if test="checkdesc != null" >
        checkDesc = #{checkdesc,jdbcType=VARCHAR},
      </if>
    </set>
    where checkID = #{checkid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.xm.jwxt.bean.graduateDesign.TeachertitleFirstcheckinfo" >
    update teachertitleFirstcheckinfo
    set teatherTitleID = #{teathertitleid,jdbcType=VARCHAR},
      checkTime = #{checktime,jdbcType=DATE},
      checkPerson = #{checkperson,jdbcType=VARCHAR},
      checkResult = #{checkresult,jdbcType=VARCHAR},
      checkDesc = #{checkdesc,jdbcType=VARCHAR}
    where checkID = #{checkid,jdbcType=VARCHAR}
  </update>
</mapper>