<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xm.jwxt.mapper.baseInfo.custom.TMajorBaseInfoCustomMapper" >
    <resultMap id="BaseResultMap" type="cn.xm.jwxt.bean.baseInfo.TMajorBaseInfo" >
        <id column="majorID" property="majorid" jdbcType="VARCHAR" />
        <result column="majorNum" property="majornum" jdbcType="VARCHAR" />
        <result column="collegeID" property="collegeid" jdbcType="VARCHAR" />
        <result column="majorName" property="majorname" jdbcType="VARCHAR" />
        <result column="majorShortName" property="majorshortname" jdbcType="VARCHAR" />
        <result column="majorSort" property="majorsort" jdbcType="VARCHAR" />
        <result column="majorManager" property="majormanager" jdbcType="VARCHAR" />
        <result column="remark1" property="remark1" jdbcType="VARCHAR" />
        <result column="remark2" property="remark2" jdbcType="VARCHAR" />
    </resultMap>

    <!--查询专业名称和ID-->
    <select id="findMajorNameAndId" resultType="map">
        SELECT majorId as majorid,majorName as majorname from t_major_base_info

    </select>

    <!--组合条件查询专业分页显示-->
    <select id="findMajorInfoListByCondition" parameterType="cn.xm.jwxt.bean.baseInfo.custom.CommonQuery" resultMap="BaseResultMap">
        SELECT * FROM t_major_base_info
        <where>
            <include refid="query_common_where"></include>
        </where>
    </select>


    <!--封装查询条件-->
    <sql id="query_common_where">
        <if test="majorname != null and majorname !=''">
            and majorName = #{majorname}
        </if>
        <if test="majorsort != null and majorsort !=''">
            and majorSort LIKE #{majorsort}
        </if>
        <if test="collegenum != null and collegenum !=''">
            and collegeNum = #{collegenum}
        </if>
        <if test="majornum != null and majornum !=''">
            and majorNum = #{majornum}
        </if>
    </sql>
</mapper>