<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xm.jwxt.mapper.trainScheme.Trainschemeinfo2Mapper" >
  <resultMap id="BaseResultMap" type="cn.xm.jwxt.bean.trainScheme.Trainschemeinfo2" >
    <id column="trainningSchemeId2" property="trainningschemeid2" jdbcType="VARCHAR" />
    <result column="trainingSchemeID" property="trainingschemeid" jdbcType="VARCHAR" />
    <result column="trainYears" property="trainyears" jdbcType="VARCHAR" />
    <result column="trainDegree" property="traindegree" jdbcType="VARCHAR" />
    <result column="mainCourse" property="maincourse" jdbcType="VARCHAR" />
    <result column="coreCourse" property="corecourse" jdbcType="VARCHAR" />
    <result column="majorfeature" property="majorfeature" jdbcType="VARCHAR" />
    <result column="mainTestItem" property="maintestitem" jdbcType="VARCHAR" />
    <result column="mainMajorExperience" property="mainmajorexperience" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    trainningSchemeId2, trainingSchemeID, trainYears, trainDegree, mainCourse, coreCourse, 
    majorfeature, mainTestItem, mainMajorExperience, remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.xm.jwxt.bean.trainScheme.Trainschemeinfo2Example" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from trainschemeinfo2
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from trainschemeinfo2
    where trainningSchemeId2 = #{trainningschemeid2,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from trainschemeinfo2
    where trainningSchemeId2 = #{trainningschemeid2,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.xm.jwxt.bean.trainScheme.Trainschemeinfo2Example" >
    delete from trainschemeinfo2
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.xm.jwxt.bean.trainScheme.Trainschemeinfo2" >
    insert into trainschemeinfo2 (trainningSchemeId2, trainingSchemeID, 
      trainYears, trainDegree, mainCourse, 
      coreCourse, majorfeature, mainTestItem, 
      mainMajorExperience, remark)
    values (#{trainningschemeid2,jdbcType=VARCHAR}, #{trainingschemeid,jdbcType=VARCHAR}, 
      #{trainyears,jdbcType=VARCHAR}, #{traindegree,jdbcType=VARCHAR}, #{maincourse,jdbcType=VARCHAR}, 
      #{corecourse,jdbcType=VARCHAR}, #{majorfeature,jdbcType=VARCHAR}, #{maintestitem,jdbcType=VARCHAR}, 
      #{mainmajorexperience,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.xm.jwxt.bean.trainScheme.Trainschemeinfo2" >
    insert into trainschemeinfo2
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="trainningschemeid2 != null" >
        trainningSchemeId2,
      </if>
      <if test="trainingschemeid != null" >
        trainingSchemeID,
      </if>
      <if test="trainyears != null" >
        trainYears,
      </if>
      <if test="traindegree != null" >
        trainDegree,
      </if>
      <if test="maincourse != null" >
        mainCourse,
      </if>
      <if test="corecourse != null" >
        coreCourse,
      </if>
      <if test="majorfeature != null" >
        majorfeature,
      </if>
      <if test="maintestitem != null" >
        mainTestItem,
      </if>
      <if test="mainmajorexperience != null" >
        mainMajorExperience,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="trainningschemeid2 != null" >
        #{trainningschemeid2,jdbcType=VARCHAR},
      </if>
      <if test="trainingschemeid != null" >
        #{trainingschemeid,jdbcType=VARCHAR},
      </if>
      <if test="trainyears != null" >
        #{trainyears,jdbcType=VARCHAR},
      </if>
      <if test="traindegree != null" >
        #{traindegree,jdbcType=VARCHAR},
      </if>
      <if test="maincourse != null" >
        #{maincourse,jdbcType=VARCHAR},
      </if>
      <if test="corecourse != null" >
        #{corecourse,jdbcType=VARCHAR},
      </if>
      <if test="majorfeature != null" >
        #{majorfeature,jdbcType=VARCHAR},
      </if>
      <if test="maintestitem != null" >
        #{maintestitem,jdbcType=VARCHAR},
      </if>
      <if test="mainmajorexperience != null" >
        #{mainmajorexperience,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.xm.jwxt.bean.trainScheme.Trainschemeinfo2Example" resultType="java.lang.Integer" >
    select count(*) from trainschemeinfo2
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update trainschemeinfo2
    <set >
      <if test="record.trainningschemeid2 != null" >
        trainningSchemeId2 = #{record.trainningschemeid2,jdbcType=VARCHAR},
      </if>
      <if test="record.trainingschemeid != null" >
        trainingSchemeID = #{record.trainingschemeid,jdbcType=VARCHAR},
      </if>
      <if test="record.trainyears != null" >
        trainYears = #{record.trainyears,jdbcType=VARCHAR},
      </if>
      <if test="record.traindegree != null" >
        trainDegree = #{record.traindegree,jdbcType=VARCHAR},
      </if>
      <if test="record.maincourse != null" >
        mainCourse = #{record.maincourse,jdbcType=VARCHAR},
      </if>
      <if test="record.corecourse != null" >
        coreCourse = #{record.corecourse,jdbcType=VARCHAR},
      </if>
      <if test="record.majorfeature != null" >
        majorfeature = #{record.majorfeature,jdbcType=VARCHAR},
      </if>
      <if test="record.maintestitem != null" >
        mainTestItem = #{record.maintestitem,jdbcType=VARCHAR},
      </if>
      <if test="record.mainmajorexperience != null" >
        mainMajorExperience = #{record.mainmajorexperience,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update trainschemeinfo2
    set trainningSchemeId2 = #{record.trainningschemeid2,jdbcType=VARCHAR},
      trainingSchemeID = #{record.trainingschemeid,jdbcType=VARCHAR},
      trainYears = #{record.trainyears,jdbcType=VARCHAR},
      trainDegree = #{record.traindegree,jdbcType=VARCHAR},
      mainCourse = #{record.maincourse,jdbcType=VARCHAR},
      coreCourse = #{record.corecourse,jdbcType=VARCHAR},
      majorfeature = #{record.majorfeature,jdbcType=VARCHAR},
      mainTestItem = #{record.maintestitem,jdbcType=VARCHAR},
      mainMajorExperience = #{record.mainmajorexperience,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.xm.jwxt.bean.trainScheme.Trainschemeinfo2" >
    update trainschemeinfo2
    <set >
      <if test="trainingschemeid != null" >
        trainingSchemeID = #{trainingschemeid,jdbcType=VARCHAR},
      </if>
      <if test="trainyears != null" >
        trainYears = #{trainyears,jdbcType=VARCHAR},
      </if>
      <if test="traindegree != null" >
        trainDegree = #{traindegree,jdbcType=VARCHAR},
      </if>
      <if test="maincourse != null" >
        mainCourse = #{maincourse,jdbcType=VARCHAR},
      </if>
      <if test="corecourse != null" >
        coreCourse = #{corecourse,jdbcType=VARCHAR},
      </if>
      <if test="majorfeature != null" >
        majorfeature = #{majorfeature,jdbcType=VARCHAR},
      </if>
      <if test="maintestitem != null" >
        mainTestItem = #{maintestitem,jdbcType=VARCHAR},
      </if>
      <if test="mainmajorexperience != null" >
        mainMajorExperience = #{mainmajorexperience,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where trainningSchemeId2 = #{trainningschemeid2,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.xm.jwxt.bean.trainScheme.Trainschemeinfo2" >
    update trainschemeinfo2
    set trainingSchemeID = #{trainingschemeid,jdbcType=VARCHAR},
      trainYears = #{trainyears,jdbcType=VARCHAR},
      trainDegree = #{traindegree,jdbcType=VARCHAR},
      mainCourse = #{maincourse,jdbcType=VARCHAR},
      coreCourse = #{corecourse,jdbcType=VARCHAR},
      majorfeature = #{majorfeature,jdbcType=VARCHAR},
      mainTestItem = #{maintestitem,jdbcType=VARCHAR},
      mainMajorExperience = #{mainmajorexperience,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where trainningSchemeId2 = #{trainningschemeid2,jdbcType=VARCHAR}
  </update>
</mapper>