<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xm.jwxt.mapper.trainScheme.TrainCourseMapper" >
  <resultMap id="BaseResultMap" type="cn.xm.jwxt.bean.trainScheme.TrainCourse" >
    <id column="trainCourseID" property="traincourseid" jdbcType="INTEGER" />
    <result column="trainningSchemeID" property="trainningschemeid" jdbcType="VARCHAR" />
    <result column="courseID" property="courseid" jdbcType="VARCHAR" />
    <result column="typeNum" property="typenum" jdbcType="VARCHAR" />
    <result column="semester" property="semester" jdbcType="SMALLINT" />
    <result column="courseType" property="coursetype" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    trainCourseID, trainningSchemeID, courseID, typeNum, semester, courseType
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.xm.jwxt.bean.trainScheme.TrainCourseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from train_course
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from train_course
    where trainCourseID = #{traincourseid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from train_course
    where trainCourseID = #{traincourseid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.xm.jwxt.bean.trainScheme.TrainCourseExample" >
    delete from train_course
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.xm.jwxt.bean.trainScheme.TrainCourse" >
    insert into train_course (trainCourseID, trainningSchemeID, 
      courseID, typeNum, semester, 
      courseType)
    values (#{traincourseid,jdbcType=INTEGER}, #{trainningschemeid,jdbcType=VARCHAR}, 
      #{courseid,jdbcType=VARCHAR}, #{typenum,jdbcType=VARCHAR}, #{semester,jdbcType=SMALLINT}, 
      #{coursetype,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.xm.jwxt.bean.trainScheme.TrainCourse" >
    insert into train_course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="traincourseid != null" >
        trainCourseID,
      </if>
      <if test="trainningschemeid != null" >
        trainningSchemeID,
      </if>
      <if test="courseid != null" >
        courseID,
      </if>
      <if test="typenum != null" >
        typeNum,
      </if>
      <if test="semester != null" >
        semester,
      </if>
      <if test="coursetype != null" >
        courseType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="traincourseid != null" >
        #{traincourseid,jdbcType=INTEGER},
      </if>
      <if test="trainningschemeid != null" >
        #{trainningschemeid,jdbcType=VARCHAR},
      </if>
      <if test="courseid != null" >
        #{courseid,jdbcType=VARCHAR},
      </if>
      <if test="typenum != null" >
        #{typenum,jdbcType=VARCHAR},
      </if>
      <if test="semester != null" >
        #{semester,jdbcType=SMALLINT},
      </if>
      <if test="coursetype != null" >
        #{coursetype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.xm.jwxt.bean.trainScheme.TrainCourseExample" resultType="java.lang.Integer" >
    select count(*) from train_course
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update train_course
    <set >
      <if test="record.traincourseid != null" >
        trainCourseID = #{record.traincourseid,jdbcType=INTEGER},
      </if>
      <if test="record.trainningschemeid != null" >
        trainningSchemeID = #{record.trainningschemeid,jdbcType=VARCHAR},
      </if>
      <if test="record.courseid != null" >
        courseID = #{record.courseid,jdbcType=VARCHAR},
      </if>
      <if test="record.typenum != null" >
        typeNum = #{record.typenum,jdbcType=VARCHAR},
      </if>
      <if test="record.semester != null" >
        semester = #{record.semester,jdbcType=SMALLINT},
      </if>
      <if test="record.coursetype != null" >
        courseType = #{record.coursetype,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update train_course
    set trainCourseID = #{record.traincourseid,jdbcType=INTEGER},
      trainningSchemeID = #{record.trainningschemeid,jdbcType=VARCHAR},
      courseID = #{record.courseid,jdbcType=VARCHAR},
      typeNum = #{record.typenum,jdbcType=VARCHAR},
      semester = #{record.semester,jdbcType=SMALLINT},
      courseType = #{record.coursetype,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.xm.jwxt.bean.trainScheme.TrainCourse" >
    update train_course
    <set >
      <if test="trainningschemeid != null" >
        trainningSchemeID = #{trainningschemeid,jdbcType=VARCHAR},
      </if>
      <if test="courseid != null" >
        courseID = #{courseid,jdbcType=VARCHAR},
      </if>
      <if test="typenum != null" >
        typeNum = #{typenum,jdbcType=VARCHAR},
      </if>
      <if test="semester != null" >
        semester = #{semester,jdbcType=SMALLINT},
      </if>
      <if test="coursetype != null" >
        courseType = #{coursetype,jdbcType=VARCHAR},
      </if>
    </set>
    where trainCourseID = #{traincourseid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.xm.jwxt.bean.trainScheme.TrainCourse" >
    update train_course
    set trainningSchemeID = #{trainningschemeid,jdbcType=VARCHAR},
      courseID = #{courseid,jdbcType=VARCHAR},
      typeNum = #{typenum,jdbcType=VARCHAR},
      semester = #{semester,jdbcType=SMALLINT},
      courseType = #{coursetype,jdbcType=VARCHAR}
    where trainCourseID = #{traincourseid,jdbcType=INTEGER}
  </update>
</mapper>