<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xm.jwxt.mapper.system.custom.UserCustomMapper" >

    <!--1.   分页查询用户信息-->
    <select id="getUsersByCondition" resultType="map" parameterType="map">
        SELECT
          user.*,
          (CASE (SELECT COUNT(userid) FROM user_role WHERE userid = user.userid) WHEN 0 THEN '未配置' ELSE '已配置' END )    hasRole
        FROM user
        <where>
            <if test="username != null and username != ''">
                and username like '%${username}%'
            </if>
            <if test="usersort != null and usersort != ''">
                and usersort = #{usersort}
            </if>
            <if test="userstuteanum != null and userstuteanum != ''">
                and userstuteanum like '%${userstuteanum}%'
            </if>
            <if test="userunitname != null and userunitname != ''">
                and userunitname like '%${userunitname}%'
            </if>
            <if test="isuse != null and isuse != ''">
                and isuse = #{isuse}
            </if>
        </where>
    </select>

    <!--2.用户登录查看用户的所有的权限信息-->
    <select id="selectPermissionsByUserId" parameterType="string" resultType="cn.xm.jwxt.bean.system.Permission">
        SELECT *
        FROM permission
        WHERE permissionid IN(SELECT
                                permissionid
                              FROM rolepermission
                              WHERE roleid IN(SELECT
                                                roleid
                                              FROM user_role
                                              WHERE userid = #{userId}))
    </select>


    <!--3.组合条件查询该用户所有的权限信息-->
    <select id="getUserPermissionsByCondition" parameterType="map" resultType="cn.xm.jwxt.bean.system.Permission">
        SELECT distinct *
        FROM permission
        WHERE permissionid IN(SELECT
                                permissionid
                              FROM rolepermission
                              WHERE roleid IN(SELECT
                                                roleid
                                              FROM user_role
                                              WHERE userid = #{userId}))
        <!--如果是查询所有的菜单-->
        <if test="menu != null and menu !=''">
            AND permissionType LIKE 'menu%'  AND permissionType > 'menu0'
        </if>
        <!--按菜单顺序升序查询-->
        ORDER by sortNum
    </select>


</mapper>