<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xm.jwxt.mapper.system.custom.UserCustomMapper" >

  <!--S   分页查询用户信息-->
  <!--查询条件-->
  <sql id="getUserByConditionWhere">
      <if test="name != null and name !=''">
          and username like "%${name}%"
      </if>
      <if test="usercode != null and usercode !=''">
          and usercode like =#{usercode}
      </if>
  </sql>
  <!--分页查询语句-->
  <select id="getUserByCondition" parameterType="map" resultType="cn.xm.jwxt.bean.system.User">
    select * from USER
    <where>
      <include refid="getUserByConditionWhere"/>
    </where>
  </select>
  <!--E   分页查询用户信息-->
<!---->
    <update id="updateUserByUsercode">
      update user set username=#{username} where userCode=${usercode}
    </update>


</mapper>