<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xm.jwxt.mapper.graduateDesign.projectManage.AssignmentManageMapper" >

  <select id="selectProject_ACInfo" parameterType="map" resultType="map">
    查询条件：
    teacherName，titlename，checkStatus，projectType

    select teacherTitleID,titlename,titleOrigin,projectType,reqireStudentNum,year,checkStatus
    teacherName,majorName
    from teacherGreDesignTitle t,t_teacher_base_info teacher,t_major_base_info m where t.teacherID=teacher.teacherID and teacher.majorID=m.majorID
    and teacherName=''
    and titlename=''
    and checkStatus=''
    and projectType=''
    ;
  </select>

  <insert id="insertAuditSecondInfo" parameterType="cn.xm.jwxt.bean.graduateDesign.Taskbookinfo" >
    insert into taskBookInfo (bookid, StudentTitleresultID, taskContent,taskEditTime,taskSendTime,taskCompleteTime,
    thesisTitle, designTargetRequire, designContent,designSubmitFile,gdTitle,fillStatus)
    VALUES
     (#{bookid},#{StudentTitleresultID},#{taskContent},#{taskEditTime},#{taskSendTime},#{taskCompleteTime},
     #{thesisTitle},#{designTargetRequire},#{designContent},#{designSubmitFile},#{designSubmitFile},#{fillStatus)
  </insert>

  <update id="updateProjectInfo" parameterType="cn.xm.jwxt.bean.graduateDesign.Taskbookinfo">
    update taskBookInfo set
    <if test="StudentTitleresultID != null" >StudentTitleresultID = #{StudentTitleresultID,jdbcType=VARCHAR},</if>
    <if test="taskContent != null" >taskContent = #{taskContent,jdbcType=VARCHAR},</if>
    <if test="taskEditTime != null" >taskEditTime = #{taskEditTime,jdbcType=Date},</if>
    <if test="taskSendTime != null" >taskSendTime = #{taskSendTime,jdbcType=VARCHAR},</if>
    <if test="taskCompleteTime != null" >taskCompleteTime = #{taskCompleteTime,jdbcType=VARCHAR},</if>
    <if test="thesisTitle != null" >thesisTitle = #{thesisTitle,jdbcType=VARCHAR},</if>
    <if test="designTargetRequire != null" >designTargetRequire = #{designTargetRequire,jdbcType=VARCHAR},</if>
    <if test="designContent != null" >designContent = #{designContent,jdbcType=VARCHAR},</if>
    <if test="designSubmitFile != null" >designSubmitFile = #{designSubmitFile,jdbcType=INTEGER},</if>
    <if test="designSubmitFile != null" >designSubmitFile = #{designSubmitFile,jdbcType=VARCHAR},</if>
    <if test="fillStatus != null" >fillStatus = #{fillStatus,jdbcType=DATE},</if>
    where bookid=#{bookid}
  </update>

  <select id="selectAssignmentInfo" parameterType="java.lang.String" resultType="cn.xm.jwxt.bean.graduateDesign.Taskbookinfo">
    SELECT task.* FROM taskBookInfo task,studentTitleResult result WHERE task.StudentTitleresultID = result.StudentTitleresultID and result.studentID=#{studentID}
  </select>

  <select id="selectAssignmentInfo" resultType="cn.xm.jwxt.bean.graduateDesign.StudentInfoVo" parameterType="java.lang.Sting">
    select fillStatus,studentID,studentName,studentNum,studentSex,className from taskBookInfo b,t_student_base_info s,t_class_base_info t,
    (select StudentTitleresultID,studentID from studentTitleResult where teacherTitleID = #{teacherTitleID}) r
     where b.StudentTitleresultID = r.StudentTitleresultID and s.studentID=r.studentID and s.classID=t.classID
  </select>
</mapper>