<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xm.jwxt.mapper.graduateDesign.projectManage.ChooseGPStudentMapper" >

  <select id="selectProject_ACInfo" parameterType="map" resultType="map">
    查询条件：
    teacherName，titlename，checkStatus，projectType

    select teacherTitleID,titlename,titleOrigin,projectType,reqireStudentNum,year,checkStatus
    teacherName,majorName
    from teacherGreDesignTitle t,t_teacher_base_info teacher,t_major_base_info m where t.teacherID=teacher.teacherID and teacher.majorID=m.majorID
    and teacherName=''
    and titlename=''
    and checkStatus=''
    and projectType='';
  </select>

  <select id="selectStudentInfo" resultType="cn.xm.jwxt.bean.graduateDesign.StudentInfoVo" parameterType="java.lang.Sting">
    select studentID,studentName,studentNum,studentSex,className from t_student_base_info s,t_class_base_info t,
    (select StudentTitleresultID,studentID from studentTitleResult where teacherTitleID = #{teacherTitleID}) r
     where s.studentID=r.studentID and s.classID=t.classID
  </select>

  <select id="selectProjectInfo" resultType="cn.xm.jwxt.bean.graduateDesign.TeachergredesigntitleDetailVo" parameterType="java.lang.Sting">
    select * from teacherGreDesignTitle where teacherTitleID = #{teacherTitleID}
  </select>
</mapper>