<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xm.jwxt.mapper.graduateDesign.projectManage.ChooseProjectMapper" >

  <select id="selectProjectInfo" parameterType="map" resultType="map">
    select teacherTitleID,titlename,titleOrigin,projectType,reqireStudentNum,teacherName
    from teacherGreDesignTitle b,t_teacher_base_info t
    where b.teacherID = t.teacherID and t.teacherName like "%"#{teacherName}"%"
    and titlename like "%"#{titlename}"%"
  </select>

  <select id="selectChooseProjectInfo" parameterType="java.lang.String" resultType="list">
    select teacherTitleID,titlename,titleOrigin,projectType,reqireStudentNum,teacherName
    from teacherGreDesignTitle b,t_teacher_base_info t,
    (select firstTeacherTitleId,secTeacherTitleId from graDesignStudentTitleInfo where studentID = #{studentID}) s
    where b.teacherID = t.teacherID and b.teacherTitleID = s.firstTeacherTitleId or b.teacherTitleID = s.secTeacherTitleId
  </select>

  <insert id="insertChooseProject" parameterMap="cn.xm.jwxt.bean.graduateDesign.Gradesignstudenttitleinfo">
    insert into graDesignStudentTitleInfo (studentTitleID, studentID, firstTeacherTitleId,
    secTeacherTitleId, isChecked, remark, isSubmit)
    VALUES
    (
    #{studentTitleID},
    #{studentID},
    #{firstTeacherTitleId},
    #{secTeacherTitleId},
    #{isChecked},
    #{remark},
    #{isSubmit},
    )
  </insert>

  <delete id="deleteChooseProjectInfo" parameterType="java.lang.String">
    delete from graDesignStudentTitleInfo where studentTitleID = #{studentTitleID}
  </delete>

  <select id="selectIsChoose" parameterType="java.lang.String" resultType="java.lang.String">
    select isSubmit from graDesignStudentTitleInfo where studentID = #{studentID}
  </select>
</mapper>