<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xm.jwxt.mapper.graduateDesign.projectManage.Project_ACMapper" >

  <select id="selectProject_ACInfoByCondition" parameterType="map" resultType="map">
    查询条件：
    teacherName，titlename，checkStatus，projectType，用户的教师id（只能看自己发布的课题）    课题发布时间为今年或者去年
    查询结果：yearNum，semesterNum，teacherTitleID，teacherName，titleOrigin，projectType，major，reqireStudentNum，checkStatus，
      学年，学期，教师名称，课题名称，课题来源，课题类型，学生专业，需要人数，学期，审核状态

    select teacherTitleID,titlename,titleOrigin,projectType,reqireStudentNum,year,checkStatus
    teacherName,majorName
    from teacherGreDesignTitle t,t_teacher_base_info teacher,t_major_base_info m where t.teacherID=teacher.teacherID and teacher.majorID=m.majorID
    and teacherName=''
    and titlename=''
    and checkStatus=''
    and projectType=''
    ;
    /*未审核*/
    <if test="auditResult == '-1'">
      select StudentTitleresultID,studentName,studentNum,className,gdTitle,teacherName
      from
      teacherGreDesignTitle t,t_teacher_base_info teacher,taskBookInfo b,
      (
      select studentID,studentName,className,StudentTitleresultID,teacherTitleID from t_student_base_info
      s,t_class_base_info class,studentTitleResult r
      where s.classID = class.classID and s.studentID = r.studentID
      <if test="studentName != null and studentName != ''">
        and course.studentName like '%${studentName}%'
      </if>
      <if test="studentNum != null and studentNum != ''">
        and type.studentNum like '${studentNum}%'
      </if>
      ) son
      where
      t.teacherTitleID=son.teacherTitleID and t.teacherID = teacher.teacherID
      and b.StudentTitleresultID = son.StudentTitleresultID and fc.StudentTitleresultID = son.StudentTitleresultID
      <if test="teacherName != null and teacherName != ''">
        and teacher.teacherName = #{teacherName}
      </if>
    </if>

    /*已审核*/
    <if test="auditResult != '-1'">
      select StudentTitleresultID,studentName,studentNum,className,gdTitle,teacherName,auditResult,auditContent,auditTime
      from
      teacherGreDesignTitle t,t_teacher_base_info teacher,taskBookInfo b,gdFileCheck fc,
      (
      select studentID,studentName,className,StudentTitleresultID,teacherTitleID from t_student_base_info
      s,t_class_base_info class,studentTitleResult r
      where s.classID = class.classID and s.studentID = r.studentID
      <if test="studentName != null and studentName != ''">
        and course.studentName like '%${studentName}%'
      </if>
      <if test="studentNum != null and studentNum != ''">
        and type.studentNum like '${studentNum}%'
      </if>
      <![CDATA[
           and enrollmentTime >= to_date(#{enrollmenttimeMin,jdbcType=DATE},'yyyy-MM-dd')
           and enrollmentTime <= to_date(#{enrollmenttimeMax,jdbcType=DATE},'yyyy-MM-dd')
          ]]>
      ) son
      where
      t.teacherTitleID=son.teacherTitleID and t.teacherID = teacher.teacherID
      and b.StudentTitleresultID = son.StudentTitleresultID and fc.StudentTitleresultID = son.StudentTitleresultID
      <if test="teacherName != null and teacherName != ''">
        and teacher.teacherName = #{teacherName}
      </if>
      <if test="auditResult != null and auditResult != ''">
        and fc.auditResult = #{auditResult}
      </if>
    </if>


  </select>



  <select id="selectGreDesignTitleInfo" parameterType="java.lang.String" resultType="cn.xm.jwxt.bean.graduateDesign.Teachergredesigntitle">
    select * from teacherGreDesignTitle where teacherTitleID = #{teacherTitleID}
  </select>

  <insert id="insertAuditFirstInfo" parameterType="cn.xm.jwxt.bean.graduateDesign.TeachertitleFirstcheckinfo" >
    insert into teacherTitleFirstCheckInfo (checkID, teatherTitleID, checkTime,
    checkPerson, checkResult, checkDesc)
    VALUES
    <foreach collection="list" item="item" index="index" separator="," >
      (
      #{item.checkID,jdbcType=VARCHAR},
      #{item.teatherTitleID,jdbcType=VARCHAR},
      #{item.checkTime,jdbcType=VARCHAR},
      #{item.checkPerson,jdbcType=VARCHAR}
      #{item.checkResult,jdbcType=VARCHAR}
      #{item.checkDesc,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>

  <insert id="insertAuditFirstInfo" parameterType="cn.xm.jwxt.bean.graduateDesign.TeachertitleFirstcheckinfo" >
    insert into teacherTitleFirstCheckInfo (checkID, teatherTitleID, checkTime,
    checkPerson, checkResult, checkDesc)
    VALUES
    <foreach collection="list" item="item" index="index" separator="," >
      (
      #{item.checkID,jdbcType=VARCHAR},
      #{item.teatherTitleID,jdbcType=VARCHAR},
      #{item.checkTime,jdbcType=VARCHAR},
      #{item.checkPerson,jdbcType=VARCHAR}
      #{item.checkResult,jdbcType=VARCHAR}
      #{item.checkDesc,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>

  <insert id="insertAuditSecondInfo" parameterType="cn.xm.jwxt.bean.graduateDesign.TeachertitleSecondcheckinfo" >
    insert into teacherTitleSecondCheckInfo (checkID, teatherTitleID, checkTime,
    checkPerson, checkResult, checkDesc)
    VALUES
    <foreach collection="list" item="item" index="index" separator="," >
      (
      #{item.checkID,jdbcType=VARCHAR},
      #{item.teatherTitleID,jdbcType=VARCHAR},
      #{item.checkTime,jdbcType=VARCHAR},
      #{item.checkPerson,jdbcType=VARCHAR}
      #{item.checkResult,jdbcType=VARCHAR}
      #{item.checkDesc,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>

  <select id="selectList" parameterType="java.util.List" resultType="java.lang.Integer">
    SELECT COUNT(1) FROM t_user
    WHERE id IN
    <foreach collection="array" index="index" item="item"
             open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>

  <update id="updateAuditStatus">
    update teacherGreDesignTitle set checkStatus = #{checkStatus}
    where teacherTitleID in
    <foreach collection="array" index="index" item="item"
             open="(" separator="," close=")">
        #{teacherTitleID}
    </foreach>
  </update>

  <insert id="insertProjectInfo" parameterType="cn.xm.jwxt.bean.graduateDesign.Teachergredesigntitle">
    insert into teacherGreDesignTitle (teacherTitleID, graDesignID, teacherId,titlename,resultType,projectType,targetRequire,
    researchContent,titleOrigin,titleType,reqireStudentNum,checkStatus,syear,applyTime,gdTime,majorID)
    VALUES
    (#{teacherTitleID}},#{graDesignID},#{teacherId},#{titlename},#{resultType},#{projectType},#{targetRequire},
    #{researchContent},#{titleOrigin},#{titleType},#{reqireStudentNum},#{checkStatus},#{syear},#{applyTime},#{gdTime},#{majorID})
  </insert>

  <select id="selectProjectTeacherInfo" parameterType="java.lang.String" resultType="cn.xm.jwxt.bean.baseInfo.TTeacherBaseInfo">
    SELECT * FROM t_teacher_base_info
    WHERE teacherID = #{teacherID}
  </select>

  <select id="selectProjectInfo" parameterType="java.lang.String" resultType="cn.xm.jwxt.bean.graduateDesign.Teachergredesigntitle">
    SELECT * FROM Teachergredesigntitle
    WHERE teacherTitleID = #{teacherTitleID}
  </select>

  <update id="updateProjectInfo" parameterType="cn.xm.jwxt.bean.graduateDesign.Teachergredesigntitle">
    update teacherGreDesignTitle set
    <if test="graDesignID != null" >graDesignID = #{graDesignID,jdbcType=VARCHAR},</if>
    <if test="titlename != null" >titlename = #{titlename,jdbcType=VARCHAR},</if>
    <if test="resultType != null" >resultType = #{resultType,jdbcType=VARCHAR},</if>
    <if test="projectType != null" >projectType = #{projectType,jdbcType=VARCHAR},</if>
    <if test="targetRequire != null" >targetRequire = #{targetRequire,jdbcType=VARCHAR},</if>
    <if test="researchContent != null" >researchContent = #{researchContent,jdbcType=VARCHAR},</if>
    <if test="titleOrigin != null" >titleOrigin = #{titleOrigin,jdbcType=VARCHAR},</if>
    <if test="titleType != null" >titleType = #{titleType,jdbcType=VARCHAR},</if>
    <if test="reqireStudentNum != null" >reqireStudentNum = #{reqireStudentNum,jdbcType=INTEGER},</if>
    <if test="checkStatus != null" >checkStatus = #{checkStatus,jdbcType=VARCHAR},</if>
    <if test="syear != null" >syear = #{syear,jdbcType=DATE},</if>
    <if test="applyTime != null" >applyTime = #{applyTime,jdbcType=VARCHAR},</if>
    <if test="gdTime != null" >gdTime = #{gdTime,jdbcType=VARCHAR},</if>
    <if test="majorID != null" >majorID = #{majorID,jdbcType=VARCHAR},</if>
    where teacherTitleID=#{teacherTitleID}
  </update>

  <delete id="deleteProjectInfo" parameterType="java.lang.String" >
    delete from teacherGreDesignTitle where
    teacherTitleID=#{teacherTitleID}
  </delete>

  <delete id="deleteAuditFisrtInfo" parameterType="java.lang.String" >
    delete from teacherTitleFirstCheckInfo where
    teacherTitleID=#{teacherTitleID}
  </delete>

  <delete id="selectAuditFisrtInfo" parameterType="java.lang.String">
    delete from teacherTitleSecondCheckInfo where teacherTitleID=#{teacherTitleID}
  </delete>

  <select id="selectAuditFisrtInfo" parameterType="java.lang.String" resultType="cn.xm.jwxt.bean.graduateDesign.TeachertitleFirstcheckinfo">
    SELECT * FROM teacherTitleFirstCheckInfo
    WHERE teacherTitleID = #{teacherTitleID}
  </select>

  <select id="selectAuditSecondInfo" parameterType="java.lang.String" resultType="cn.xm.jwxt.bean.graduateDesign.TeachertitleSecondcheckinfo">
    SELECT * FROM teacherTitleSecondCheckInfo
    WHERE teacherTitleID = #{teacherTitleID}
  </select>

  <select id="selectMajorInfo" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT majorName FROM t_major_base_info
    WHERE majorID = #{majorID}
  </select>
</mapper>