<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xm.jwxt.mapper.graduateDesign.projectManage.Project_ACMapper" >


  <!--
  查询条件：
  yearNum(当前学年), teacherName,titlename,checkStatus...teacherID  用户的教师id（只能看自己发布的课题）
  查询结果：yearNum,semesterNum,teacherTitleID,titlename,teacherName,titleOrigin,majorName,reqireStudentNum,checkStatus,
  1、教师id,查询教师名字。
  2、教师id查询。课题表。
  3、查询出graDesignID 毕设编号,查询学年专业等信息。
  */
  -->
  <select id="selectProject_ACInfoByCondition" parameterType="map" resultType="map">
    select yearNum,semesterNum,teacherTitleID,titlename,teacherName,titleOrigin,majorName,reqireStudentNum,checkStatus
    from gradeuateBaseInfo g,t_major_base_info m
    (
      select teacherTitleID,titlename,titleOrigin,reqireStudentNum,checkStatus,teacherName,majorID,graDesignID
      from teacherGreDesignTitle t1,t_teacher_base_info t2
      where t1.teacherID=#{teacherID} and t2.teacherID=#{teacherID}
      <if test="teacherName != null and teacherName != ''">
        and t2.teacherName like '${teacherName}%'
      </if>
      <if test="titlename != null and titlename != ''">
        and t1.titlename like '${titlename}%'
      </if>
      <if test="checkStatus != null and checkStatus != ''">
        and t1.checkStatus like '${checkStatus}'
      </if>
    ) son
    where m.majorID = son.majorID and g.graDesignID = son.graDesignID and g.yearNum = #{yearNum}

  </select>


  <select id="selectGreDesignTitleInfo" parameterType="java.lang.String" resultType="cn.xm.jwxt.bean.graduateDesign.Teachergredesigntitle">
    select * from teacherGreDesignTitle where teacherTitleID = #{teacherTitleID}
  </select>

  <insert id="insertAuditFirstInfo" parameterType="cn.xm.jwxt.bean.graduateDesign.TeachertitleFirstcheckinfo" >
    insert into teacherTitleFirstCheckInfo (checkID, teatherTitleID, checkTime,
    checkPerson, checkResult, checkDesc)
    VALUES
    <foreach collection="list" item="item" index="index" separator="," >
      (
      #{item.checkID,jdbcType=VARCHAR},
      #{item.teatherTitleID,jdbcType=VARCHAR},
      #{item.checkTime,jdbcType=VARCHAR},
      #{item.checkPerson,jdbcType=VARCHAR}
      #{item.checkResult,jdbcType=VARCHAR}
      #{item.checkDesc,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>

  <insert id="insertAuditFirstInfo" parameterType="cn.xm.jwxt.bean.graduateDesign.TeachertitleFirstcheckinfo" >
    insert into teacherTitleFirstCheckInfo (checkID, teatherTitleID, checkTime,
    checkPerson, checkResult, checkDesc)
    VALUES
    <foreach collection="list" item="item" index="index" separator="," >
      (
      #{item.checkID,jdbcType=VARCHAR},
      #{item.teatherTitleID,jdbcType=VARCHAR},
      #{item.checkTime,jdbcType=VARCHAR},
      #{item.checkPerson,jdbcType=VARCHAR}
      #{item.checkResult,jdbcType=VARCHAR}
      #{item.checkDesc,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>

  <insert id="insertAuditSecondInfo" parameterType="cn.xm.jwxt.bean.graduateDesign.TeachertitleSecondcheckinfo" >
    insert into teacherTitleSecondCheckInfo (checkID, teatherTitleID, checkTime,
    checkPerson, checkResult, checkDesc)
    VALUES
    <foreach collection="list" item="item" index="index" separator="," >
      (
      #{item.checkID,jdbcType=VARCHAR},
      #{item.teatherTitleID,jdbcType=VARCHAR},
      #{item.checkTime,jdbcType=VARCHAR},
      #{item.checkPerson,jdbcType=VARCHAR}
      #{item.checkResult,jdbcType=VARCHAR}
      #{item.checkDesc,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>

  <select id="selectList" parameterType="java.util.List" resultType="java.lang.Integer">
    SELECT COUNT(1) FROM t_user
    WHERE id IN
    <foreach collection="array" index="index" item="item"
             open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>

  <update id="updateAuditStatus">
    update teacherGreDesignTitle set checkStatus = #{checkStatus}
    where teacherTitleID in
    <foreach collection="array" index="index" item="item"
             open="(" separator="," close=")">
        #{teacherTitleID}
    </foreach>
  </update>

  <insert id="insertProjectInfo" parameterType="cn.xm.jwxt.bean.graduateDesign.Teachergredesigntitle">
    insert into teacherGreDesignTitle (teacherTitleID, graDesignID, teacherId,titlename,resultType,projectType,targetRequire,
    researchContent,titleOrigin,titleType,reqireStudentNum,checkStatus,applyTime,gdTime,majorID)
    VALUES
    (#{teacherTitleID}},#{graDesignID},#{teacherId},#{titlename},#{resultType},#{projectType},#{targetRequire},
    #{researchContent},#{titleOrigin},#{titleType},#{reqireStudentNum},#{checkStatus},#{applyTime},#{gdTime},#{majorID})
  </insert>

  <select id="selectProjectTeacherInfo" parameterType="java.lang.String" resultType="cn.xm.jwxt.bean.baseInfo.TTeacherBaseInfo">
    SELECT teacherName,positionalTitle,degree FROM t_teacher_base_info WHERE teacherID = #{teacherID}
  </select>

  <select id="selectProjectInfo" parameterType="java.lang.String" resultType="cn.xm.jwxt.bean.graduateDesign.Teachergredesigntitle">
    SELECT * FROM Teachergredesigntitle WHERE teacherTitleID = #{teacherTitleID}
  </select>

  <update id="updateProjectInfo" parameterType="cn.xm.jwxt.bean.graduateDesign.Teachergredesigntitle">
    update teacherGreDesignTitle set
    <if test="graDesignID != null" >graDesignID = #{graDesignID,jdbcType=VARCHAR},</if>
    <if test="titlename != null" >titlename = #{titlename,jdbcType=VARCHAR},</if>
    <if test="resultType != null" >resultType = #{resultType,jdbcType=VARCHAR},</if>
    <if test="projectType != null" >projectType = #{projectType,jdbcType=VARCHAR},</if>
    <if test="targetRequire != null" >targetRequire = #{targetRequire,jdbcType=VARCHAR},</if>
    <if test="researchContent != null" >researchContent = #{researchContent,jdbcType=VARCHAR},</if>
    <if test="titleOrigin != null" >titleOrigin = #{titleOrigin,jdbcType=VARCHAR},</if>
    <if test="titleType != null" >titleType = #{titleType,jdbcType=VARCHAR},</if>
    <if test="reqireStudentNum != null" >reqireStudentNum = #{reqireStudentNum,jdbcType=INTEGER},</if>
    <if test="checkStatus != null" >checkStatus = #{checkStatus,jdbcType=VARCHAR},</if>
    <if test="syear != null" >syear = #{syear,jdbcType=DATE},</if>
    <if test="applyTime != null" >applyTime = #{applyTime,jdbcType=VARCHAR},</if>
    <if test="gdTime != null" >gdTime = #{gdTime,jdbcType=VARCHAR},</if>
    <if test="majorID != null" >majorID = #{majorID,jdbcType=VARCHAR},</if>
    where teacherTitleID=#{teacherTitleID}
  </update>

  <delete id="deleteProjectInfo" parameterType="java.lang.String" >
    delete from teacherGreDesignTitle where teacherTitleID=#{teacherTitleID}
  </delete>

  <delete id="deleteAuditFisrtInfo" parameterType="java.lang.String" >
    delete from teacherTitleFirstCheckInfo where teacherTitleID=#{teacherTitleID}
  </delete>

  <delete id="deleteAuditSecondInfo" parameterType="java.lang.String" >
    delete from teacherTitleSecondCheckInfo where teacherTitleID=#{teacherTitleID}
  </delete>

  <select id="selectAuditFisrtInfo" parameterType="java.lang.String" resultType="cn.xm.jwxt.bean.graduateDesign.TeachertitleFirstcheckinfo">
    SELECT * FROM teacherTitleFirstCheckInfo WHERE teacherTitleID = #{teacherTitleID}
  </select>

  <select id="selectAuditSecondInfo" parameterType="java.lang.String" resultType="cn.xm.jwxt.bean.graduateDesign.TeachertitleSecondcheckinfo">
    SELECT * FROM teacherTitleSecondCheckInfo WHERE teacherTitleID = #{teacherTitleID}
  </select>

  <select id="selectMajorInfo" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT majorName FROM t_major_base_info WHERE majorID = #{majorID}
  </select>

  <select id="selectGraDesignIDByCurrentYear" resultType="java.lang.String">
    SELECT graDesignID FROM gradeuateBaseInfo
    WHERE yearNum = #{yearNum,jdbcType=VARCHAR} and semesterNum = #{semesterNum,jdbcType=VARCHAR}
  </select>

  <select id="selectCollege" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT collegeName FROM t_college_base_info c,t_teacher_base_info t
    WHERE c.collegeId = t.collegeId and t.teacherID=#{teacherID}
  </select>
</mapper>