<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xm.jwxt.mapper.graduateDesign.projectManage.Project_ACMapper">

    <select id="selectProject_ACInfoByCondition" parameterType="map" resultType="map">
        select
        yearNum,semesterNum,teacherTitleID,titlename,teacherName,titleOrigin,majorName,reqireStudentNum,checkStatus,isSubmit
        from gradeuateBaseInfo g,t_major_base_info m,
        (
        select
        teacherTitleID,titlename,titleOrigin,reqireStudentNum,checkStatus,teacherName,t2.majorID,graDesignID,isSubmit
        from teacherGreDesignTitle t1,t_teacher_base_info t2
        where t1.teacherID=t2.teacherID
        <if test="teacherID != null and teacherID != ''">
            and t1.teacherID like #{teacherID}
        </if>
        <if test="teacherName != null and teacherName != ''">
            and t2.teacherName like '${teacherName}%'
        </if>
        <if test="titlename != null and titlename != ''">
            and t1.titlename like '${titlename}%'
        </if>
        <if test="checkStatus != null and checkStatus != ''">
            and t1.checkStatus like '${checkStatus}'
        </if>
        ) son
        where m.majorID = son.majorID and g.graDesignID = son.graDesignID and g.yearNum = #{yearNum}
    </select>


    <insert id="insertAuditFirstInfo" parameterType="cn.xm.jwxt.bean.graduateDesign.TeachertitleFirstcheckinfo">
        insert into teacherTitleFirstCheckInfo (checkID, teacherTitleID, checkTime,
        checkPerson, checkResult, checkDesc)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.checkID},
            #{item.teacherTitleID},
            #{item.checkTime},
            #{item.checkPerson},
            #{item.checkResult},
            #{item.checkDesc}
            )
        </foreach>
    </insert>

    <insert id="insertAuditSecondInfo" parameterType="cn.xm.jwxt.bean.graduateDesign.TeachertitleSecondcheckinfo">
        insert into teacherTitleSecondCheckInfo (checkID, teacherTitleID, checkTime,
        checkPerson, checkResult, checkDesc)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.checkID},
            #{item.teacherTitleID},
            #{item.checkTime},
            #{item.checkPerson},
            #{item.checkResult},
            #{item.checkDesc}
            )
        </foreach>
    </insert>

    <update id="updateAuditStatus">
        update teacherGreDesignTitle set checkStatus = #{checkStatus}
        where teacherTitleID in
        <foreach collection="teachertitleidsArray" index="index" item="item"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <insert id="insertProjectInfo" parameterType="cn.xm.jwxt.bean.graduateDesign.Teachergredesigntitle">
    insert into teacherGreDesignTitle (teacherTitleID, graDesignID, teacherId,titlename,resultType,projectType,targetRequire,
    researchContent,titleOrigin,titleType,reqireStudentNum,checkStatus,applyTime,gdTime,majorID,isSubmit)
    VALUES
    (#{teachertitleid},#{gradesignid},#{teacherid},#{titlename},#{resulttype},#{projecttype},#{targetrequire},
    #{researchcontent},#{titleorigin},#{titletype},#{reqirestudentnum},#{checkstatus},#{applyTime,jdbcType=DATE},#{gdTime},#{majorID},#{isSubmit})
  </insert>

    <select id="selectProjectTeacherInfo" parameterType="java.lang.String"
            resultType="cn.xm.jwxt.bean.baseInfo.TTeacherBaseInfo">
    SELECT teacherName,positionalTitle,degree FROM t_teacher_base_info WHERE teacherNum = #{teacherNum}
  </select>

    <select id="selectProjectInfo" parameterType="java.lang.String"
            resultType="cn.xm.jwxt.bean.graduateDesign.Teachergredesigntitle">
    SELECT * FROM Teachergredesigntitle WHERE teacherTitleID = #{teachertitleid}
  </select>

    <update id="updateProjectInfo" parameterType="cn.xm.jwxt.bean.graduateDesign.Teachergredesigntitle">
        update teacherGreDesignTitle set
        <if test="gradesignid != null and gradesignid != ''">
        graDesignID = #{gradesignid},
        </if>
        <if test="titlename != null and titlename != ''">
        titlename = #{titlename},
        </if>
        <if test="resulttype != null and resulttype != ''">
        resultType = #{resulttype},
        </if>
        <if test="projecttype != null and projecttype != ''">
        projectType = #{projecttype},
        </if>
        <if test="targetrequire != null and targetrequire != ''">
        targetRequire = #{targetrequire},
        </if>
        <if test="researchcontent != null and researchcontent != ''">
        researchContent = #{researchcontent},
        </if>
        <if test="titleorigin != null and titleorigin != ''">
        titleOrigin = #{titleorigin},
        </if>
        <if test="titletype != null and titletype != ''">
        titleType = #{titletype},
        </if>
        <if test="reqirestudentnum != null and reqirestudentnum != ''">
        reqireStudentNum = #{reqirestudentnum},
        </if>
        <if test="checkstatus != null and checkstatus != ''">
        checkStatus = #{checkstatus},
        </if>
        <if test="applyTime != null and applyTime != ''">
        applyTime = #{applyTime},
        </if>
        <if test="gdTime != null and gdTime != ''">
        gdTime = #{gdTime},
        </if>
        <if test="majorID != null and majorID != ''">
        majorID = #{majorID},
        </if>
        <if test="isSubmit != null and isSubmit != ''">
        isSubmit = #{isSubmit}
        </if>
        where teacherTitleID=#{teachertitleid}
    </update>

    <delete id="deleteProjectInfo" parameterType="java.lang.String">
    delete from teacherGreDesignTitle where teacherTitleID=#{teacherTitleID}
  </delete>

    <delete id="deleteAuditFisrtInfo" parameterType="java.lang.String">
    delete from teacherTitleFirstCheckInfo where teacherTitleID=#{teacherTitleID}
  </delete>

    <delete id="deleteAuditSecondInfo" parameterType="java.lang.String">
    delete from teacherTitleSecondCheckInfo where teacherTitleID=#{teacherTitleID}
  </delete>

    <select id="selectAuditFisrtInfo" parameterType="java.util.List" resultType="cn.xm.jwxt.bean.graduateDesign.TeachertitleFirstCheckVo">
        select teacherName,titlename,
        checkResult,checkDesc,checkTime,checkPerson
        from t_teacher_base_info t,teacherTitleFirstCheckInfo fc,
        (
          select teacherID,titlename,teacherTitleID from teacherGreDesignTitle
          where teacherTitleID IN
            <foreach collection="array" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        ) son
        where t.teacherID = son.teacherID and fc.teacherTitleID = son.teacherTitleID
  </select>

    <select id="selectGraDesignIDByCurrentYear" resultType="java.lang.String">
    SELECT graDesignID FROM gradeuateBaseInfo
    WHERE yearNum = #{yearNum} and semesterNum = #{semesterNum}
  </select>

    <select id="selectCollege" parameterType="java.util.List" resultType="java.lang.String">
    SELECT collegeName FROM t_college_base_info c,t_teacher_base_info t
    WHERE c.collegeId = t.collegeId and t.teacherNum=#{teacherNum}
  </select>


    <select id="selectProjectInfoDetail"
            resultType="cn.xm.jwxt.bean.graduateDesign.TeachergredesigntitleDetailVo">
        <if test="checkValue == 0">
            SELECT teacherName,positionalTitle,degree,
            majorName,
            titlename,resulttype,projecttype,targetrequire,researchcontent,titleorigin,titletype,reqirestudentnum,checkstatus,applyTime
            from t_teacher_base_info t, t_major_base_info m,
            (
            SELECT titlename,resulttype,projecttype,targetrequire,researchcontent,titleorigin,titletype,reqirestudentnum,checkstatus,teacherID,majorID,teacherTitleID
            FROM teacherGreDesignTitle
            WHERE teacherTitleID=#{teacherTitleID}
            ) son
            where t.teacherID = son.teacherID and m.majorID = son.majorID
        </if>
        <if test="checkValue == 1">
            SELECT teacherName,positionalTitle,degree,
            majorName,
            titlename,resulttype,projecttype,targetrequire,researchcontent,titleorigin,titletype,reqirestudentnum,checkstatus,applyTime,
            c1.checkResult checkFirstResult,c1.checkDesc checkFirstDesc,
            c2.checkResult checkSecondResult,c2.checkDesc checkSecondDesc
            from t_teacher_base_info t, t_major_base_info m,teacherTitleFirstCheckInfo c1,teacherTitleSecondCheckInfo c2,
            (
            SELECT titlename,resulttype,projecttype,targetrequire,researchcontent,titleorigin,titletype,reqirestudentnum,checkstatus,teacherID,majorID,teacherTitleID
            FROM teacherGreDesignTitle
            WHERE teacherTitleID=#{teacherTitleID}
            ) son
            where t.teacherID = son.teacherID and m.majorID = son.majorID
            and c1.teacherTitleID=son.teacherTitleID and c2.teacherTitleID=son.teacherTitleID
        </if>
  </select>

    <select id="selectTeacherIDByTeacherNum" parameterType="java.lang.String" resultType="java.lang.String">
        select teacherID from t_teacher_base_info where teacherNum = #{teacherNum}
    </select>
    <select id="selectCheckStatusByTeacherTitleID" parameterType="java.lang.String" resultType="java.lang.String">
        select checkStatus from teacherGreDesignTitle where teacherTitleID=#{teacherTitleID}
    </select>


</mapper>