<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xm.jwxt.mapper.arrangeCourse.ApTeacherCourseMapper" >
  <resultMap id="BaseResultMap" type="cn.xm.jwxt.bean.arrangeCourse.ApTeacherCourse" >
    <id column="teacher_course_id" property="teacherCourseId" jdbcType="VARCHAR" />
    <result column="arrange_course_id" property="arrangeCourseId" jdbcType="VARCHAR" />
    <result column="term" property="term" jdbcType="CHAR" />
    <result column="academic_year" property="academicYear" jdbcType="VARCHAR" />
    <result column="course_code" property="courseCode" jdbcType="VARCHAR" />
    <result column="teacher_id" property="teacherId" jdbcType="VARCHAR" />
    <result column="teacher_number" property="teacherNumber" jdbcType="VARCHAR" />
    <result column="teacher_name" property="teacherName" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    teacher_course_id, arrange_course_id, term, academic_year, course_code, teacher_id, 
    teacher_number, teacher_name, remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.xm.jwxt.bean.arrangeCourse.ApTeacherCourseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ap_teacher_course
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ap_teacher_course
    where teacher_course_id = #{teacherCourseId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ap_teacher_course
    where teacher_course_id = #{teacherCourseId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.xm.jwxt.bean.arrangeCourse.ApTeacherCourseExample" >
    delete from ap_teacher_course
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.xm.jwxt.bean.arrangeCourse.ApTeacherCourse" >
    insert into ap_teacher_course (teacher_course_id, arrange_course_id, 
      term, academic_year, course_code, 
      teacher_id, teacher_number, teacher_name, 
      remark)
    values (#{teacherCourseId,jdbcType=VARCHAR}, #{arrangeCourseId,jdbcType=VARCHAR}, 
      #{term,jdbcType=CHAR}, #{academicYear,jdbcType=VARCHAR}, #{courseCode,jdbcType=VARCHAR}, 
      #{teacherId,jdbcType=VARCHAR}, #{teacherNumber,jdbcType=VARCHAR}, #{teacherName,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.xm.jwxt.bean.arrangeCourse.ApTeacherCourse" >
    insert into ap_teacher_course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="teacherCourseId != null" >
        teacher_course_id,
      </if>
      <if test="arrangeCourseId != null" >
        arrange_course_id,
      </if>
      <if test="term != null" >
        term,
      </if>
      <if test="academicYear != null" >
        academic_year,
      </if>
      <if test="courseCode != null" >
        course_code,
      </if>
      <if test="teacherId != null" >
        teacher_id,
      </if>
      <if test="teacherNumber != null" >
        teacher_number,
      </if>
      <if test="teacherName != null" >
        teacher_name,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="teacherCourseId != null" >
        #{teacherCourseId,jdbcType=VARCHAR},
      </if>
      <if test="arrangeCourseId != null" >
        #{arrangeCourseId,jdbcType=VARCHAR},
      </if>
      <if test="term != null" >
        #{term,jdbcType=CHAR},
      </if>
      <if test="academicYear != null" >
        #{academicYear,jdbcType=VARCHAR},
      </if>
      <if test="courseCode != null" >
        #{courseCode,jdbcType=VARCHAR},
      </if>
      <if test="teacherId != null" >
        #{teacherId,jdbcType=VARCHAR},
      </if>
      <if test="teacherNumber != null" >
        #{teacherNumber,jdbcType=VARCHAR},
      </if>
      <if test="teacherName != null" >
        #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.xm.jwxt.bean.arrangeCourse.ApTeacherCourseExample" resultType="java.lang.Integer" >
    select count(*) from ap_teacher_course
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ap_teacher_course
    <set >
      <if test="record.teacherCourseId != null" >
        teacher_course_id = #{record.teacherCourseId,jdbcType=VARCHAR},
      </if>
      <if test="record.arrangeCourseId != null" >
        arrange_course_id = #{record.arrangeCourseId,jdbcType=VARCHAR},
      </if>
      <if test="record.term != null" >
        term = #{record.term,jdbcType=CHAR},
      </if>
      <if test="record.academicYear != null" >
        academic_year = #{record.academicYear,jdbcType=VARCHAR},
      </if>
      <if test="record.courseCode != null" >
        course_code = #{record.courseCode,jdbcType=VARCHAR},
      </if>
      <if test="record.teacherId != null" >
        teacher_id = #{record.teacherId,jdbcType=VARCHAR},
      </if>
      <if test="record.teacherNumber != null" >
        teacher_number = #{record.teacherNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.teacherName != null" >
        teacher_name = #{record.teacherName,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ap_teacher_course
    set teacher_course_id = #{record.teacherCourseId,jdbcType=VARCHAR},
      arrange_course_id = #{record.arrangeCourseId,jdbcType=VARCHAR},
      term = #{record.term,jdbcType=CHAR},
      academic_year = #{record.academicYear,jdbcType=VARCHAR},
      course_code = #{record.courseCode,jdbcType=VARCHAR},
      teacher_id = #{record.teacherId,jdbcType=VARCHAR},
      teacher_number = #{record.teacherNumber,jdbcType=VARCHAR},
      teacher_name = #{record.teacherName,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.xm.jwxt.bean.arrangeCourse.ApTeacherCourse" >
    update ap_teacher_course
    <set >
      <if test="arrangeCourseId != null" >
        arrange_course_id = #{arrangeCourseId,jdbcType=VARCHAR},
      </if>
      <if test="term != null" >
        term = #{term,jdbcType=CHAR},
      </if>
      <if test="academicYear != null" >
        academic_year = #{academicYear,jdbcType=VARCHAR},
      </if>
      <if test="courseCode != null" >
        course_code = #{courseCode,jdbcType=VARCHAR},
      </if>
      <if test="teacherId != null" >
        teacher_id = #{teacherId,jdbcType=VARCHAR},
      </if>
      <if test="teacherNumber != null" >
        teacher_number = #{teacherNumber,jdbcType=VARCHAR},
      </if>
      <if test="teacherName != null" >
        teacher_name = #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where teacher_course_id = #{teacherCourseId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.xm.jwxt.bean.arrangeCourse.ApTeacherCourse" >
    update ap_teacher_course
    set arrange_course_id = #{arrangeCourseId,jdbcType=VARCHAR},
      term = #{term,jdbcType=CHAR},
      academic_year = #{academicYear,jdbcType=VARCHAR},
      course_code = #{courseCode,jdbcType=VARCHAR},
      teacher_id = #{teacherId,jdbcType=VARCHAR},
      teacher_number = #{teacherNumber,jdbcType=VARCHAR},
      teacher_name = #{teacherName,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where teacher_course_id = #{teacherCourseId,jdbcType=VARCHAR}
  </update>
</mapper>