<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xm.jwxt.mapper.outGraduateDesignApply.GradesignleaveapplyMapper" >
  <resultMap id="BaseResultMap" type="cn.xm.jwxt.bean.outGraduateDesignApply.Gradesignleaveapply" >
    <id column="leaveID" property="leaveid" jdbcType="VARCHAR" />
    <result column="outsideApplyID" property="outsideapplyid" jdbcType="VARCHAR" />
    <result column="studentName" property="studentname" jdbcType="VARCHAR" />
    <result column="studentNum" property="studentnum" jdbcType="VARCHAR" />
    <result column="major" property="major" jdbcType="VARCHAR" />
    <result column="startDate" property="startdate" jdbcType="TIMESTAMP" />
    <result column="endDate" property="enddate" jdbcType="TIMESTAMP" />
    <result column="leaveDays" property="leavedays" jdbcType="INTEGER" />
    <result column="leaveAddress" property="leaveaddress" jdbcType="VARCHAR" />
    <result column="studentTel" property="studenttel" jdbcType="VARCHAR" />
    <result column="homeAddress" property="homeaddress" jdbcType="VARCHAR" />
    <result column="homeTel" property="hometel" jdbcType="VARCHAR" />
    <result column="leaveReason" property="leavereason" jdbcType="VARCHAR" />
    <result column="checkStatus" property="checkstatus" jdbcType="VARCHAR" />
    <result column="isOk" property="isok" jdbcType="VARCHAR" />
    <result column="isCancel" property="iscancel" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    leaveID, outsideApplyID, studentName, studentNum, major, startDate, endDate, leaveDays, 
    leaveAddress, studentTel, homeAddress, homeTel, leaveReason, checkStatus, isOk, isCancel
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.xm.jwxt.bean.outGraduateDesignApply.GradesignleaveapplyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from gradesignleaveapply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from gradesignleaveapply
    where leaveID = #{leaveid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from gradesignleaveapply
    where leaveID = #{leaveid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.xm.jwxt.bean.outGraduateDesignApply.GradesignleaveapplyExample" >
    delete from gradesignleaveapply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.xm.jwxt.bean.outGraduateDesignApply.Gradesignleaveapply" >
    insert into gradesignleaveapply (leaveID, outsideApplyID, studentName, 
      studentNum, major, startDate, 
      endDate, leaveDays, leaveAddress, 
      studentTel, homeAddress, homeTel, 
      leaveReason, checkStatus, isOk, 
      isCancel)
    values (#{leaveid,jdbcType=VARCHAR}, #{outsideapplyid,jdbcType=VARCHAR}, #{studentname,jdbcType=VARCHAR}, 
      #{studentnum,jdbcType=VARCHAR}, #{major,jdbcType=VARCHAR}, #{startdate,jdbcType=TIMESTAMP}, 
      #{enddate,jdbcType=TIMESTAMP}, #{leavedays,jdbcType=INTEGER}, #{leaveaddress,jdbcType=VARCHAR}, 
      #{studenttel,jdbcType=VARCHAR}, #{homeaddress,jdbcType=VARCHAR}, #{hometel,jdbcType=VARCHAR}, 
      #{leavereason,jdbcType=VARCHAR}, #{checkstatus,jdbcType=VARCHAR}, #{isok,jdbcType=VARCHAR}, 
      #{iscancel,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.xm.jwxt.bean.outGraduateDesignApply.Gradesignleaveapply" >
    insert into gradesignleaveapply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="leaveid != null" >
        leaveID,
      </if>
      <if test="outsideapplyid != null" >
        outsideApplyID,
      </if>
      <if test="studentname != null" >
        studentName,
      </if>
      <if test="studentnum != null" >
        studentNum,
      </if>
      <if test="major != null" >
        major,
      </if>
      <if test="startdate != null" >
        startDate,
      </if>
      <if test="enddate != null" >
        endDate,
      </if>
      <if test="leavedays != null" >
        leaveDays,
      </if>
      <if test="leaveaddress != null" >
        leaveAddress,
      </if>
      <if test="studenttel != null" >
        studentTel,
      </if>
      <if test="homeaddress != null" >
        homeAddress,
      </if>
      <if test="hometel != null" >
        homeTel,
      </if>
      <if test="leavereason != null" >
        leaveReason,
      </if>
      <if test="checkstatus != null" >
        checkStatus,
      </if>
      <if test="isok != null" >
        isOk,
      </if>
      <if test="iscancel != null" >
        isCancel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="leaveid != null" >
        #{leaveid,jdbcType=VARCHAR},
      </if>
      <if test="outsideapplyid != null" >
        #{outsideapplyid,jdbcType=VARCHAR},
      </if>
      <if test="studentname != null" >
        #{studentname,jdbcType=VARCHAR},
      </if>
      <if test="studentnum != null" >
        #{studentnum,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        #{major,jdbcType=VARCHAR},
      </if>
      <if test="startdate != null" >
        #{startdate,jdbcType=TIMESTAMP},
      </if>
      <if test="enddate != null" >
        #{enddate,jdbcType=TIMESTAMP},
      </if>
      <if test="leavedays != null" >
        #{leavedays,jdbcType=INTEGER},
      </if>
      <if test="leaveaddress != null" >
        #{leaveaddress,jdbcType=VARCHAR},
      </if>
      <if test="studenttel != null" >
        #{studenttel,jdbcType=VARCHAR},
      </if>
      <if test="homeaddress != null" >
        #{homeaddress,jdbcType=VARCHAR},
      </if>
      <if test="hometel != null" >
        #{hometel,jdbcType=VARCHAR},
      </if>
      <if test="leavereason != null" >
        #{leavereason,jdbcType=VARCHAR},
      </if>
      <if test="checkstatus != null" >
        #{checkstatus,jdbcType=VARCHAR},
      </if>
      <if test="isok != null" >
        #{isok,jdbcType=VARCHAR},
      </if>
      <if test="iscancel != null" >
        #{iscancel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.xm.jwxt.bean.outGraduateDesignApply.GradesignleaveapplyExample" resultType="java.lang.Integer" >
    select count(*) from gradesignleaveapply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update gradesignleaveapply
    <set >
      <if test="record.leaveid != null" >
        leaveID = #{record.leaveid,jdbcType=VARCHAR},
      </if>
      <if test="record.outsideapplyid != null" >
        outsideApplyID = #{record.outsideapplyid,jdbcType=VARCHAR},
      </if>
      <if test="record.studentname != null" >
        studentName = #{record.studentname,jdbcType=VARCHAR},
      </if>
      <if test="record.studentnum != null" >
        studentNum = #{record.studentnum,jdbcType=VARCHAR},
      </if>
      <if test="record.major != null" >
        major = #{record.major,jdbcType=VARCHAR},
      </if>
      <if test="record.startdate != null" >
        startDate = #{record.startdate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.enddate != null" >
        endDate = #{record.enddate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.leavedays != null" >
        leaveDays = #{record.leavedays,jdbcType=INTEGER},
      </if>
      <if test="record.leaveaddress != null" >
        leaveAddress = #{record.leaveaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.studenttel != null" >
        studentTel = #{record.studenttel,jdbcType=VARCHAR},
      </if>
      <if test="record.homeaddress != null" >
        homeAddress = #{record.homeaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.hometel != null" >
        homeTel = #{record.hometel,jdbcType=VARCHAR},
      </if>
      <if test="record.leavereason != null" >
        leaveReason = #{record.leavereason,jdbcType=VARCHAR},
      </if>
      <if test="record.checkstatus != null" >
        checkStatus = #{record.checkstatus,jdbcType=VARCHAR},
      </if>
      <if test="record.isok != null" >
        isOk = #{record.isok,jdbcType=VARCHAR},
      </if>
      <if test="record.iscancel != null" >
        isCancel = #{record.iscancel,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update gradesignleaveapply
    set leaveID = #{record.leaveid,jdbcType=VARCHAR},
      outsideApplyID = #{record.outsideapplyid,jdbcType=VARCHAR},
      studentName = #{record.studentname,jdbcType=VARCHAR},
      studentNum = #{record.studentnum,jdbcType=VARCHAR},
      major = #{record.major,jdbcType=VARCHAR},
      startDate = #{record.startdate,jdbcType=TIMESTAMP},
      endDate = #{record.enddate,jdbcType=TIMESTAMP},
      leaveDays = #{record.leavedays,jdbcType=INTEGER},
      leaveAddress = #{record.leaveaddress,jdbcType=VARCHAR},
      studentTel = #{record.studenttel,jdbcType=VARCHAR},
      homeAddress = #{record.homeaddress,jdbcType=VARCHAR},
      homeTel = #{record.hometel,jdbcType=VARCHAR},
      leaveReason = #{record.leavereason,jdbcType=VARCHAR},
      checkStatus = #{record.checkstatus,jdbcType=VARCHAR},
      isOk = #{record.isok,jdbcType=VARCHAR},
      isCancel = #{record.iscancel,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.xm.jwxt.bean.outGraduateDesignApply.Gradesignleaveapply" >
    update gradesignleaveapply
    <set >
      <if test="outsideapplyid != null" >
        outsideApplyID = #{outsideapplyid,jdbcType=VARCHAR},
      </if>
      <if test="studentname != null" >
        studentName = #{studentname,jdbcType=VARCHAR},
      </if>
      <if test="studentnum != null" >
        studentNum = #{studentnum,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        major = #{major,jdbcType=VARCHAR},
      </if>
      <if test="startdate != null" >
        startDate = #{startdate,jdbcType=TIMESTAMP},
      </if>
      <if test="enddate != null" >
        endDate = #{enddate,jdbcType=TIMESTAMP},
      </if>
      <if test="leavedays != null" >
        leaveDays = #{leavedays,jdbcType=INTEGER},
      </if>
      <if test="leaveaddress != null" >
        leaveAddress = #{leaveaddress,jdbcType=VARCHAR},
      </if>
      <if test="studenttel != null" >
        studentTel = #{studenttel,jdbcType=VARCHAR},
      </if>
      <if test="homeaddress != null" >
        homeAddress = #{homeaddress,jdbcType=VARCHAR},
      </if>
      <if test="hometel != null" >
        homeTel = #{hometel,jdbcType=VARCHAR},
      </if>
      <if test="leavereason != null" >
        leaveReason = #{leavereason,jdbcType=VARCHAR},
      </if>
      <if test="checkstatus != null" >
        checkStatus = #{checkstatus,jdbcType=VARCHAR},
      </if>
      <if test="isok != null" >
        isOk = #{isok,jdbcType=VARCHAR},
      </if>
      <if test="iscancel != null" >
        isCancel = #{iscancel,jdbcType=VARCHAR},
      </if>
    </set>
    where leaveID = #{leaveid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.xm.jwxt.bean.outGraduateDesignApply.Gradesignleaveapply" >
    update gradesignleaveapply
    set outsideApplyID = #{outsideapplyid,jdbcType=VARCHAR},
      studentName = #{studentname,jdbcType=VARCHAR},
      studentNum = #{studentnum,jdbcType=VARCHAR},
      major = #{major,jdbcType=VARCHAR},
      startDate = #{startdate,jdbcType=TIMESTAMP},
      endDate = #{enddate,jdbcType=TIMESTAMP},
      leaveDays = #{leavedays,jdbcType=INTEGER},
      leaveAddress = #{leaveaddress,jdbcType=VARCHAR},
      studentTel = #{studenttel,jdbcType=VARCHAR},
      homeAddress = #{homeaddress,jdbcType=VARCHAR},
      homeTel = #{hometel,jdbcType=VARCHAR},
      leaveReason = #{leavereason,jdbcType=VARCHAR},
      checkStatus = #{checkstatus,jdbcType=VARCHAR},
      isOk = #{isok,jdbcType=VARCHAR},
      isCancel = #{iscancel,jdbcType=VARCHAR}
    where leaveID = #{leaveid,jdbcType=VARCHAR}
  </update>
</mapper>