<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xm.jwxt.mapper.outGraduateDesignApply.OutsidegradesignagreemenMapper" >
  <resultMap id="BaseResultMap" type="cn.xm.jwxt.bean.outGraduateDesignApply.Outsidegradesignagreemen" >
    <id column="agreementID" property="agreementid" jdbcType="VARCHAR" />
    <result column="outsideApplyID" property="outsideapplyid" jdbcType="VARCHAR" />
    <result column="agreementName" property="agreementname" jdbcType="VARCHAR" />
    <result column="collegeName" property="collegename" jdbcType="VARCHAR" />
    <result column="studentIdCard" property="studentidcard" jdbcType="VARCHAR" />
    <result column="schoolSign" property="schoolsign" jdbcType="VARCHAR" />
    <result column="schoolSignDate" property="schoolsigndate" jdbcType="TIMESTAMP" />
    <result column="studentSign" property="studentsign" jdbcType="VARCHAR" />
    <result column="studentSignDate" property="studentsigndate" jdbcType="TIMESTAMP" />
    <result column="applyStatus" property="applystatus" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    agreementID, outsideApplyID, agreementName, collegeName, studentIdCard, schoolSign, 
    schoolSignDate, studentSign, studentSignDate, applyStatus, remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.xm.jwxt.bean.outGraduateDesignApply.OutsidegradesignagreemenExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from outsidegradesignagreemen
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from outsidegradesignagreemen
    where agreementID = #{agreementid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from outsidegradesignagreemen
    where agreementID = #{agreementid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.xm.jwxt.bean.outGraduateDesignApply.OutsidegradesignagreemenExample" >
    delete from outsidegradesignagreemen
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.xm.jwxt.bean.outGraduateDesignApply.Outsidegradesignagreemen" >
    insert into outsidegradesignagreemen (agreementID, outsideApplyID, agreementName, 
      collegeName, studentIdCard, schoolSign, 
      schoolSignDate, studentSign, studentSignDate, 
      applyStatus, remark)
    values (#{agreementid,jdbcType=VARCHAR}, #{outsideapplyid,jdbcType=VARCHAR}, #{agreementname,jdbcType=VARCHAR}, 
      #{collegename,jdbcType=VARCHAR}, #{studentidcard,jdbcType=VARCHAR}, #{schoolsign,jdbcType=VARCHAR}, 
      #{schoolsigndate,jdbcType=TIMESTAMP}, #{studentsign,jdbcType=VARCHAR}, #{studentsigndate,jdbcType=TIMESTAMP}, 
      #{applystatus,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.xm.jwxt.bean.outGraduateDesignApply.Outsidegradesignagreemen" >
    insert into outsidegradesignagreemen
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="agreementid != null" >
        agreementID,
      </if>
      <if test="outsideapplyid != null" >
        outsideApplyID,
      </if>
      <if test="agreementname != null" >
        agreementName,
      </if>
      <if test="collegename != null" >
        collegeName,
      </if>
      <if test="studentidcard != null" >
        studentIdCard,
      </if>
      <if test="schoolsign != null" >
        schoolSign,
      </if>
      <if test="schoolsigndate != null" >
        schoolSignDate,
      </if>
      <if test="studentsign != null" >
        studentSign,
      </if>
      <if test="studentsigndate != null" >
        studentSignDate,
      </if>
      <if test="applystatus != null" >
        applyStatus,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="agreementid != null" >
        #{agreementid,jdbcType=VARCHAR},
      </if>
      <if test="outsideapplyid != null" >
        #{outsideapplyid,jdbcType=VARCHAR},
      </if>
      <if test="agreementname != null" >
        #{agreementname,jdbcType=VARCHAR},
      </if>
      <if test="collegename != null" >
        #{collegename,jdbcType=VARCHAR},
      </if>
      <if test="studentidcard != null" >
        #{studentidcard,jdbcType=VARCHAR},
      </if>
      <if test="schoolsign != null" >
        #{schoolsign,jdbcType=VARCHAR},
      </if>
      <if test="schoolsigndate != null" >
        #{schoolsigndate,jdbcType=TIMESTAMP},
      </if>
      <if test="studentsign != null" >
        #{studentsign,jdbcType=VARCHAR},
      </if>
      <if test="studentsigndate != null" >
        #{studentsigndate,jdbcType=TIMESTAMP},
      </if>
      <if test="applystatus != null" >
        #{applystatus,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.xm.jwxt.bean.outGraduateDesignApply.OutsidegradesignagreemenExample" resultType="java.lang.Integer" >
    select count(*) from outsidegradesignagreemen
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update outsidegradesignagreemen
    <set >
      <if test="record.agreementid != null" >
        agreementID = #{record.agreementid,jdbcType=VARCHAR},
      </if>
      <if test="record.outsideapplyid != null" >
        outsideApplyID = #{record.outsideapplyid,jdbcType=VARCHAR},
      </if>
      <if test="record.agreementname != null" >
        agreementName = #{record.agreementname,jdbcType=VARCHAR},
      </if>
      <if test="record.collegename != null" >
        collegeName = #{record.collegename,jdbcType=VARCHAR},
      </if>
      <if test="record.studentidcard != null" >
        studentIdCard = #{record.studentidcard,jdbcType=VARCHAR},
      </if>
      <if test="record.schoolsign != null" >
        schoolSign = #{record.schoolsign,jdbcType=VARCHAR},
      </if>
      <if test="record.schoolsigndate != null" >
        schoolSignDate = #{record.schoolsigndate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.studentsign != null" >
        studentSign = #{record.studentsign,jdbcType=VARCHAR},
      </if>
      <if test="record.studentsigndate != null" >
        studentSignDate = #{record.studentsigndate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.applystatus != null" >
        applyStatus = #{record.applystatus,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update outsidegradesignagreemen
    set agreementID = #{record.agreementid,jdbcType=VARCHAR},
      outsideApplyID = #{record.outsideapplyid,jdbcType=VARCHAR},
      agreementName = #{record.agreementname,jdbcType=VARCHAR},
      collegeName = #{record.collegename,jdbcType=VARCHAR},
      studentIdCard = #{record.studentidcard,jdbcType=VARCHAR},
      schoolSign = #{record.schoolsign,jdbcType=VARCHAR},
      schoolSignDate = #{record.schoolsigndate,jdbcType=TIMESTAMP},
      studentSign = #{record.studentsign,jdbcType=VARCHAR},
      studentSignDate = #{record.studentsigndate,jdbcType=TIMESTAMP},
      applyStatus = #{record.applystatus,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.xm.jwxt.bean.outGraduateDesignApply.Outsidegradesignagreemen" >
    update outsidegradesignagreemen
    <set >
      <if test="outsideapplyid != null" >
        outsideApplyID = #{outsideapplyid,jdbcType=VARCHAR},
      </if>
      <if test="agreementname != null" >
        agreementName = #{agreementname,jdbcType=VARCHAR},
      </if>
      <if test="collegename != null" >
        collegeName = #{collegename,jdbcType=VARCHAR},
      </if>
      <if test="studentidcard != null" >
        studentIdCard = #{studentidcard,jdbcType=VARCHAR},
      </if>
      <if test="schoolsign != null" >
        schoolSign = #{schoolsign,jdbcType=VARCHAR},
      </if>
      <if test="schoolsigndate != null" >
        schoolSignDate = #{schoolsigndate,jdbcType=TIMESTAMP},
      </if>
      <if test="studentsign != null" >
        studentSign = #{studentsign,jdbcType=VARCHAR},
      </if>
      <if test="studentsigndate != null" >
        studentSignDate = #{studentsigndate,jdbcType=TIMESTAMP},
      </if>
      <if test="applystatus != null" >
        applyStatus = #{applystatus,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where agreementID = #{agreementid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.xm.jwxt.bean.outGraduateDesignApply.Outsidegradesignagreemen" >
    update outsidegradesignagreemen
    set outsideApplyID = #{outsideapplyid,jdbcType=VARCHAR},
      agreementName = #{agreementname,jdbcType=VARCHAR},
      collegeName = #{collegename,jdbcType=VARCHAR},
      studentIdCard = #{studentidcard,jdbcType=VARCHAR},
      schoolSign = #{schoolsign,jdbcType=VARCHAR},
      schoolSignDate = #{schoolsigndate,jdbcType=TIMESTAMP},
      studentSign = #{studentsign,jdbcType=VARCHAR},
      studentSignDate = #{studentsigndate,jdbcType=TIMESTAMP},
      applyStatus = #{applystatus,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where agreementID = #{agreementid,jdbcType=VARCHAR}
  </update>
</mapper>