<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xm.jwxt.mapper.graduateDesign.fileManage.GDFileManageMapper" >

  <delete id="deleteHasAuditInfo" parameterType="java.util.List" >
    delete from gdFileCheck
    <where>
      StudentTitleresultID IN
    </where>
    <foreach item="item" collection="array" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>

  <insert id="insertAuditInfo" parameterType="cn.xm.jwxt.bean.graduateDesign.GdFileCheck">
    insert into gdFileCheck
    ( id,auditResult,auditContent,auditTime,StudentTitleresultID)
    values
    <foreach collection="list" item="item" index= "index" separator =",">
      (
      #{item.id},
      #{item.auditResult},
      #{item.auditContent},
      #{item.auditTime},
      #{item.StudentTitleresultID}
      )
    </foreach>
  </insert>

  <select id="selectFileCheckinfoByCondition" parameterType="map" resultType="map">
      <if test="auditResult == '-1'">
        select son.StudentTitleresultID,studentName,son.studentNum,className,gdTitle,teacherName
        from
        teacherGreDesignTitle t,t_teacher_base_info teacher,taskBookInfo b,
        (
        select r.studentID,studentName,className,StudentTitleresultID,teacherTitleID,studentNum from t_student_base_info
        s,t_class_base_info class,studentTitleResult r
        where s.classID = class.classID and s.studentID = r.studentID
        <if test="studentName != null and studentName != ''">
          and studentName like '%${studentName}%'
        </if>
        <if test="studentNum != null and studentNum != ''">
          and studentNum like '${studentNum}%'
        </if>
        ) son
        where
        t.teacherTitleID=son.teacherTitleID and t.teacherID = teacher.teacherID
        and b.StudentTitleresultID = son.StudentTitleresultID
        <if test="teacherName != null and teacherName != ''">
          and teacher.teacherName = #{teacherName}
        </if>
      </if>

      <if test="auditResult != '-1'">
        select son.StudentTitleresultID,studentName,son.studentNum,className,gdTitle,teacherName,auditResult,auditContent,auditTime
        from
        teacherGreDesignTitle t,t_teacher_base_info teacher,taskBookInfo b,gdFileCheck fc,
        (
          select r.studentID,studentName,className,StudentTitleresultID,teacherTitleID,studentNum from t_student_base_info
          s,t_class_base_info class,studentTitleResult r
          where s.classID = class.classID and s.studentID = r.studentID
          <if test="studentName != null and studentName != ''">
            and studentName like '%${studentName}%'
          </if>
          <if test="studentNum != null and studentNum != ''">
            and studentNum like '${studentNum}%'
          </if>
          <![CDATA[
           and enrollmentTime >= to_date(#{enrollmenttimeMin,jdbcType=DATE},'yyyy-MM-dd')
           and enrollmentTime <= to_date(#{enrollmenttimeMax,jdbcType=DATE},'yyyy-MM-dd')
          ]]>
        ) son
        where
        t.teacherTitleID=son.teacherTitleID and t.teacherID = teacher.teacherID
        and b.StudentTitleresultID = son.StudentTitleresultID and fc.StudentTitleresultID = son.StudentTitleresultID
        <if test="teacherName != null and teacherName != ''">
          and teacher.teacherName = #{teacherName}
        </if>
        <if test="auditResult != null and auditResult != ''">
            and fc.auditResult = #{auditResult}
        </if>
      </if>

  </select>

</mapper>